<script src="{{ asset('js/jquery.csv.min.js') }}"></script>
<form id="sunrise">
<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-12 columns">
                <label for="input">{% trans %}Chirp CSV File{% endtrans %}</label>
                <input type="file" id="input" size="6" value="{{ args }}">
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <label for="input_doc">{% trans %}Chirp File Contents{% endtrans %}</label>
                <div id="input_doc"></div>
            </div>
        </div>
        <div class="row" style="margin-top: 1em">
            <div class="small-12 columns">
                <label>{% trans %}FTM-200D csv File Contents{% endtrans %}</label>
                <textarea id="output_doc"></textarea>
                <input type='button' class='button' id='copy_ft200' onclick="$('#output_doc').select();document.execCommand('copy');alert('Copied to clipboard')" value='Copy'>
            </div>
        </div>
    </div>
</div>

</form>
<style>
#input_doc,
#output_doc {
    width: 100%;    
    background: #fff;
    border: 1px solid #888;
    height: 200px;
    overflow: auto;
}
.chirpconvert {
    font-size: 70%;
    border-collapse: collapse;
}
.chirpconvert thead tr {
    background: #884;
}
.chirpconvert thead th,
.chirpconvert tbody td,
{
    border: 1px solid #444;
}
</style>
<script>
$(document).ready( function() {
    CHIRPCONVERT.init();
});
</script>

<script src="jquery-csv.js"></script>