<div id="bkeyer"></div>
<script>
$(document).ready( function() {
    $('#close').on('click', function(){
        window.close();
    });
    $('#bkeyer').html('<iframe src="/bkeyer7.php" style="width:100%; height: 500px"/>');
});
</script>