<div class="controlPanel listener_list">
    <div class="header">{{ form_title }}</div>
    <div class="controls clearfix">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% if (system=='rww') %}
        <label>Continent</label>
        <div class="value">
{% include 'controls/regions.html.twig' %}
        </div>
        <br class="clearfix">
{% endif %}
    </div>
</div>


