<fieldset id="operatorField"{% if (step != '1' or not multiOperator) %} style="display:none"{% endif %}>
    <legend>{% trans %}This is a Multi-Operator receiver:{% endtrans %}</legend>
    <div>
        {{ form_label(form.operatorId) }}{{ form_widget(form.operatorId) }}
    </div>
</fieldset>