<div id="presets">
    {% trans %}Standard Formats:{% endtrans %} [
        <a id="format_pskov">Pskov</a> | <a id="format_wwsu">WWSU</a> | <a id="format_yand">YaND</a> | <a id="format_rxx">RXX</a>
    ]
</div>