{% if (listeners|length > 0 or isAdmin) %}
    <p class="report_actions">
    {% if (listeners|length > 0) %}
        <input type="button" class="button small" value="{{ 'Print...' | trans }}" onclick="window.print()">
    {% endif %}
    {% if isAdmin %}
        <input type="button" class="button small" value="{{ 'Add Listener...' | trans }}"
           onclick="window.open('{{ path('listener', { 'system' : system, 'id' : 'new'})}}', 'listener_new', popWinSpecs['listeners_[id]'])"
        >
    {% endif %}
    </p>
{% endif %}