<p class="report_actions">
    <input type="button" class="button small" value="Print..." onclick="window.print()">
    {% if isAdmin %}
        <input type="button" class="button small" value="Add Listener..." onclick="window.open('{{ path('listener', { '_locale' : _locale, 'system' : system, 'id' : 'new'})}}','new','{{ listenerPopup }}')">
    {% endif %}
</p>