{%  if isAdmin %}
    <div class="links_left row">
        <div class="small-12 medium-1"><strong>{% trans %}Add Log for:{% endtrans %}</strong></div>
        <div class="small-12 medium-11">
{% for l in latestListeners %}
            <div class="display-inline text-nowrap">
                <a href="{{ url('listener_logsupload', { 'system' : system, 'id': l.id }) }}" data-popup="1">{{ l.name|raw }}</a> ({{ l.sp ? l.sp : l.itu }}){% if not loop.last %} &nbsp; | &nbsp; {% endif %}

            </div>
{% endfor %}
        </div>
    </div>
{% endif %}
