{% extends 'popup.html.twig' %}

{% block body %}
<div class="main">
    {% if id %}{% set form_title='Edit Listener' %}{% else %}{% set form_title='Add Listener' %}{% endif %}
{% set form_class='listener_edit' %}
    {% include 'forms/form.html.twig' %}
<script>
    $(document).ready( function() {
    });
</script>
</div>
{% endblock %}
