{% extends 'popup.html.twig' %}
{% block body %}
{% if id %}{% set form_title='Edit Listener' %}{% else %}{% set form_title='Add Listener' %}{% endif %}
<div class="main">
{% set form_class='listener_edit' %}
{% include 'listeners/form.html.twig' %}
<script>
    $(document).ready( function() {
    });
</script>
</div>
{% endblock %}