{% extends 'main.html.twig' %}

{% block body %}
<div class="main">
<h1>{{ mode }}</h1>
{% include 'status.html.twig' %}
{% include 'listeners/latestlogs.html.twig' %}
{% include 'listeners/addlogfor.html.twig' %}
{% if not isAdmin %}{{ text|raw }}{% endif %}
{% set form_title='Customise ' ~ system|upper ~ ' Listeners List' %}
{% set form_class='listener_list' %}
<div class="row">
    <div class="small-12 medium-8 columns">
        {% include 'forms/form.html.twig' %}
    </div>
    <div class="small-12 medium-4 columns">
        {% include 'listeners/maps.html.twig' %}
    </div>
</div>

{% include 'listeners/grid.html.twig' %}

<script>
    $(document).ready( function() {
        setFormTypesStyles();
        setFormTypesDefault();
        setFormTypesAllAction();
        setFormCountryAction();
        setFormRegionAction();
        setColumnSortActions();
        setColumnSortedClass();
        setExternalLinks();
        $('#form_filter_help').html('{{ matched }}');
    });
</script>
</div>
{% endblock %}
