{% extends 'main.html.twig' %}

{% block body %}
<div class="main">
    <h1>{{ mode }}</h1>
    {{ text|raw }}
    {% set form_title='Customise ' ~ system|upper ~ ' Listener Report' %}
    {% set form_class='listener_list' %}
    {% include 'forms/form.html.twig' %}
</div>
{% include 'grids/listeners.html.twig' %}

<script>
    $(document).ready( function() {
        setFormTypesStyles();
        setFormTypesDefault();
        setFormTypesAllAction();
        setFormCountryAction();
        setFormRegionAction();
        setColumnSortActions();
        setColumnSortedClass();
        setExternalLinks();
        $('#form_filter_help').html('{{ matched }}');
    });
</script>
{% endblock %}
