<div class="controlPanel listener_map">
    <div class="header">Maps of Listener Locations</div>
    <div class="content clearfix">
        <ul>
            <li><a href="#" onclick="listener_map(1);return false"><strong>RNA</strong> (North America)</a></li>
            <li><a href="#" onclick="listener_map(2);return false"><strong>REU</strong> (Europe)</a></li>
        </ul>
    </div>
</div>
