{% extends 'main.html.twig' %}
{# This could use some work #}
{% block body %}
<div class="main">
    <h1>{% trans %}CLE Information{% endtrans %}</h1>
    <p>{% trans with {
            '%URL1%' : '<a href="https://groups.io/g/ndblist" rel="external">NDB List</a>',
            '%URL2%' : '<a href="https://groups.io/g/ndblist" rel="external">https://groups.io/g/ndblist</a>'
            } %}Co-ordinated Listening Events (or 'CLEs') take place several times a year and provide opportunities for listeners of all ranges of experience to practice our hobby and learn more about it. To learn more about the %URL1%, or to join (it's free!), visit %URL2%{% endtrans %}
    </p>
    <h2>{{ mode }}</h2>
    <p><strong>{% trans %}Dates:{% endtrans %}</strong>
        {% trans with {
        '%CLE%' : cle.cle,
        '%DATESTART%' : cle.dateStart|date('Y-m-d'),
        '%DATEEND%' : cle.dateEnd|date('Y-m-d')
    } %}CLE %CLE% starts at midday %DATESTART% and ends at midday %DATEEND% LOCAL TIME at the receiver.{% endtrans %}<br />
    <strong>{% trans %}Scope:{% endtrans %}</strong> {{ cle.scope }}<br />
    <strong>{% trans %}Details:{% endtrans %}</strong> {{ cle.additional|unescape|raw|replace({'<p>' : '', '</p>' : ''})|raw }}

    <h2>{% trans %}Links for Each Region{% endtrans %}</h2>
    <div class="row cle_links">
        {% set link = {
            'focus' : '',
            'r1' : { 'min' : cle.worldRange1Low, 'max' : cle.worldRange1High, 'url' : rww1 },
            'r2' : { 'min' : cle.worldRange2Low, 'max' : cle.worldRange2High, 'url' : rww2 },
            'span' : [ 6, 4 ],
            'system' : 'rna',
            'title' : 'RNA - N America'|trans
        }%}
        {% include 'cle/links.html.twig' %}

        {% set link = {
            'focus' : '',
            'r1' : { 'min' : cle.europeRange1Low, 'max' : cle.europeRange1High, 'url' : reu1 },
            'r2' : { 'min' : cle.europeRange2Low, 'max' : cle.europeRange2High, 'url' : reu2 },
            'span' : [ 6, 4 ],
            'system' : 'reu',
            'title' : 'REU - Europe'|trans
        }%}
        {% include 'cle/links.html.twig' %}

        {% set link = {
            'focus' : '',
            'r1' : { 'min' : cle.worldRange1Low, 'max' : cle.worldRange1High, 'url' : rww1 },
            'r2' : { 'min' : cle.worldRange2Low, 'max' : cle.worldRange2High, 'url' : rww2 },
            'span' : [ 6, 4 ],
            'system' : 'rww',
            'title' : 'RWW - Worldwide'|trans
        }%}
        {% include 'cle/links.html.twig' %}

        {% set link = {
            'focus' : 'af',
            'r1' : { 'min' : cle.worldRange1Low, 'max' : cle.worldRange1High, 'url' : rww1 },
            'r2' : { 'min' : cle.worldRange2Low, 'max' : cle.worldRange2High, 'url' : rww2 },
            'span' : [ 6, 3 ],
            'system' : 'rww',
            'title' : 'RWW - Africa'|trans
        }%}
        {% include 'cle/links.html.twig' %}

        {% set link = {
            'focus' : 'as',
            'r1' : { 'min' : cle.worldRange1Low, 'max' : cle.worldRange1High, 'url' : rww1 },
            'r2' : { 'min' : cle.worldRange2Low, 'max' : cle.worldRange2High, 'url' : rww2 },
            'span' : [ 6, 3 ],
            'system' : 'rww',
            'title' : 'RWW - Asia'|trans
        }%}
        {% include 'cle/links.html.twig' %}

        {% set link = {
            'focus' : 'oc',
            'r1' : { 'min' : cle.worldRange1Low, 'max' : cle.worldRange1High, 'url' : rww1 },
            'r2' : { 'min' : cle.worldRange2Low, 'max' : cle.worldRange2High, 'url' : rww2 },
            'span' : [ 6, 3 ],
            'system' : 'rww',
            'title' : 'RWW - Pacific'|trans
        }%}
        {% include 'cle/links.html.twig' %}

        {% set link = {
            'focus' : 'sa',
            'r1' : { 'min' : cle.worldRange1Low, 'max' : cle.worldRange1High, 'url' : rww1 },
            'r2' : { 'min' : cle.worldRange2Low, 'max' : cle.worldRange2High, 'url' : rww2 },
            'span' : [ 6, 3 ],
            'system' : 'rww',
            'title' : 'RWW - S America'|trans
        }%}
        {% include 'cle/links.html.twig' %}

    </div>
</div>
{% endblock %}