/*!
* Project:   RXX - NDB Logging Database
* Homepage:  https://rxx.classaxe.com
* Date:      2020-02-10
* Licence:   LGPL
* Copyright: 2020 Martin Francis
*/
/* [ System Colours ] */
body.reu {
  background: #fffafa;
}
body.reu table.stats tr {
  background: #fff0f0;
}
body.reu .menu-centered .header {
  background: #fff0f0;
  border: 3px solid #d03333;
}
body.reu .menu-centered .header h2 {
  color: #d03333;
}
body.reu .menu-centered .system,
body.reu .menu-centered .mode,
body.reu .menu-centered .language {
  border: 1px solid #d03333;
}
body.reu .menu-centered .system li:not(:last-child) a,
body.reu .menu-centered .mode li:not(:last-child) a,
body.reu .menu-centered .language li:not(:last-child) a {
  border-right: 1px solid #d03333;
}
body.reu .menu a {
  color: #d03333;
}
body.reu .menu .is-active > a {
  background: #d03333;
  color: #ffffff;
}
body.reu h1,
body.reu h2 {
  color: #d03333;
}
body.reu fieldset legend {
  color: #d03333;
}
body.reu .controlPanel .content {
  background: #fff0f0;
}
body.reu .footer {
  border-top: 3px solid #d03333;
}
body.reu .footer a {
  color: #0000ff;
}
body.reu .button {
  border-color: #800000;
  background: #b35959;
  color: #ffffff;
}
body.reu .button:hover {
  background: #cc2929;
  color: #ffff40;
}
body.reu .button.is-active {
  background: #e63030;
  color: #ffff40;
  text-decoration: underline;
}
body.rna {
  background: #f8f8ff;
}
body.rna table.stats tr {
  background: #e0e0ff;
}
body.rna .menu-centered .header {
  background: #e0e0ff;
  border: 3px solid #3333ff;
}
body.rna .menu-centered .header h2 {
  color: #3333ff;
}
body.rna .menu-centered .system,
body.rna .menu-centered .mode,
body.rna .menu-centered .language {
  border: 1px solid #3333ff;
}
body.rna .menu-centered .system li:not(:last-child) a,
body.rna .menu-centered .mode li:not(:last-child) a,
body.rna .menu-centered .language li:not(:last-child) a {
  border-right: 1px solid #3333ff;
}
body.rna .menu a {
  color: #3333ff;
}
body.rna .menu .is-active > a {
  background: #3333ff;
  color: #ffffff;
}
body.rna h1,
body.rna h2 {
  color: #3333ff;
}
body.rna fieldset legend {
  color: #3333ff;
}
body.rna .controlPanel .content {
  background: #e0e0ff;
}
body.rna .footer {
  border-top: 3px solid #3333ff;
}
body.rna .footer a {
  color: #0000ff;
}
body.rna .button {
  border-color: #3333ff;
  background: #6666cc;
  color: #ffffff;
}
body.rna .button:hover {
  background: #5252cc;
  color: #ffff40;
}
body.rna .button.is-active {
  background: #4545e6;
  color: #ffff40;
  text-decoration: underline;
}
body.rww {
  background: #fafffa;
}
body.rww table.stats tr {
  background: #f2fff2;
}
body.rww .menu-centered .header {
  background: #f2fff2;
  border: 3px solid #198019;
}
body.rww .menu-centered .header h2 {
  color: #198019;
}
body.rww .menu-centered .system,
body.rww .menu-centered .mode,
body.rww .menu-centered .language {
  border: 1px solid #198019;
}
body.rww .menu-centered .system li:not(:last-child) a,
body.rww .menu-centered .mode li:not(:last-child) a,
body.rww .menu-centered .language li:not(:last-child) a {
  border-right: 1px solid #198019;
}
body.rww .menu a {
  color: #198019;
}
body.rww .menu .is-active > a {
  background: #198019;
  color: #ffffff;
}
body.rww h1,
body.rww h2 {
  color: #198019;
}
body.rww fieldset legend {
  color: #198019;
}
body.rww .controlPanel .content {
  background: #f2fff2;
}
body.rww .footer {
  border-top: 3px solid #198019;
}
body.rww .footer a {
  color: #0000ff;
}
body.rww .button {
  border-color: #4d804d;
  background: #2d802d;
  color: #ffffff;
}
body.rww .button:hover {
  background: #40a040;
  color: #ffff40;
}
body.rww .button.is-active {
  background: #208020;
  color: #ffff40;
  text-decoration: underline;
}
.type_inactive,
tr.inactive td {
  background-color: #d0d0d0 !important;
}
.type_ndb,
tr.ndb td {
  background-color: #ffffff !important;
}
.type_dgps,
tr.dgps td {
  background-color: #00d8ff !important;
}
.type_dsc,
tr.dsc td {
  background-color: #ffb000 !important;
}
.type_time,
tr.time td {
  background-color: #ffe0b0 !important;
}
.type_navtex,
tr.navtex td {
  background-color: #ffb8d8 !important;
}
.type_hambcn,
tr.hambcn td {
  background-color: #b8ffc0 !important;
}
.type_other,
tr.other td {
  background-color: #b8f8ff !important;
}
.type_all {
  background-color: #d03333;
  color: #ffffff;
}
.type_all label {
  color: #fff;
  font-style: italic;
  font-weight: bold !important;
}
/* [ General Styles ] */
body {
  font-family: Arial, Helvetica, sans-serif;
}
.txt_r {
  text-align: right;
}
.monospace {
  font-family: "Courier New bold", Courier, monospace;
}
.clipped {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.txt_vertical {
  vertical-align: bottom;
  text-align: center;
}
.txt_vertical div {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  white-space: nowrap;
  padding-bottom: 0.5em;
  display: table;
  border-spacing: 0;
}
#lastError,
#lastMessage {
  padding: 0.25em 0.5em;
  margin: 0.5em 0;
  display: inline-block;
}
#lastError {
  border: 1px solid #ff0000;
  background: #ffe0e0;
  color: #ff0000;
}
#lastMessage {
  border: 1px solid #008000;
  background: #e0ffe0;
  color: #008000;
}
pre {
  border: 1px dashed #ccc;
  background: #eee;
  padding: 0.25em 1em !important;
  margin: 0.5em !important;
  font-size: 8pt !important;
  display: inline-block;
}
a.hover:hover {
  background-color: #ffff00;
}
/* [ Menu ] */
body .menu-centered {
  width: 572px;
  margin: auto;
}
body .menu-centered .header h2 {
  font-size: 130%;
  margin: 0.25em 0;
}
body .menu-centered .system a {
  width: 190px;
}
body .menu-centered .system,
body .menu-centered .mode {
  border-top: none !important;
}
body .menu-centered .system,
body .menu-centered .mode,
body .menu-centered .language {
  background: #ffffff;
}
body .menu-centered .system a,
body .menu-centered .mode a,
body .menu-centered .language a {
  padding: 0.25em 1em;
  font-size: 80%;
  text-align: center;
}
body .menu-centered .system a:hover,
body .menu-centered .mode a:hover,
body .menu-centered .language a:hover {
  text-decoration: underline;
}
@media print {
  body .menu-centered .system a,
  body .menu-centered .mode a,
  body .menu-centered .language a {
    color: #a0a0a0;
  }
}
body .menu-centered .system .is-active > a,
body .menu-centered .mode .is-active > a,
body .menu-centered .language .is-active > a {
  font-weight: 900;
  color: #ffff00;
  text-decoration: underline;
}
@media print {
  body .menu-centered .system .is-active > a,
  body .menu-centered .mode .is-active > a,
  body .menu-centered .language .is-active > a {
    border-width: 2px 1px;
  }
}
body .menu-centered .language {
  margin: 0.5em 0 0 125px;
  width: 322px;
}
body .menu-centered .language li a {
  width: 80px;
}
/* [ Footer ] */
.footer {
  text-align: center;
  margin: 1em 0.5em;
  padding: 0.25em 0;
}
.footer p {
  margin: 0 0 1em 0;
  line-height: 1.25em;
  font-size: 70%;
}
.footer p.preamble {
  margin: 1em 0 0 0;
}
/* [ Screen Reader Support ] */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* Signals Responsive Layout */
div.c_1 {
  float: left;
  margin-right: 10px;
}
@media all and (max-width: 810px) {
  div.c_2 section {
    float: left;
    margin: 0.5em 1em 0.5em 0;
  }
  div.c_2 section:last-child {
    margin-right: 0;
  }
  div.c_2 section .stats {
    width: 265px;
  }
}
@media all and (min-width: 811px) {
  div.c_2 {
    float: right;
  }
  div.c_2 section {
    margin-bottom: 1em;
  }
  div.c_2 section .stats {
    width: 180px;
  }
}
table.stats {
  width: 180px;
  margin: 0;
  border: 0;
  border-radius: 0;
  border-collapse: collapse;
  padding: 0;
}
table.stats thead,
table.stats tbody,
table.stats tfoot {
  border: 0;
}
table.stats tr th {
  text-align: left;
  padding: 0;
}
table.stats tr td {
  text-align: right;
  padding: 0;
}
label[for="seeklist_paper"] {
  font-weight: bold;
  display: inline-block;
  margin-right: 1em;
}
select#seeklist_paper {
  width: 300px;
}
table.seeklist {
  page-break-inside: avoid;
  page-break-before: auto;
  border-collapse: collapse;
  border: 1px solid #000000;
}
table.seeklist thead tr.sl_1 td {
  background-color: #777 !important;
}
table.seeklist thead tr.sl_1 td div {
  color: #ffffff !important;
}
table.seeklist thead tr.sl_1 td h2,
table.seeklist thead tr.sl_1 td h3,
table.seeklist thead tr.sl_1 td h4 {
  color: #ffffff !important;
  font-weight: bold;
  margin: 0;
  font-size: 100%;
}
table.seeklist thead tr.sl_2 td i {
  background-color: #e0e0e0 !important;
  padding: 0 0.125em;
}
table.seeklist thead td {
  border: 1px solid #000000;
  margin: 0;
  padding: 0 0.25em;
}
table.seeklist tbody td {
  border: 1px solid #000000;
}
table.seeklist tbody td .head {
  padding: 0 0.25em !important;
}
table.seeklist tbody td div.sl_h,
table.seeklist tbody td div.sl_d {
  white-space: nowrap;
}
table.seeklist tbody td div.sl_h span,
table.seeklist tbody td div.sl_d span {
  font-family: "Courier New bold", Courier, monospace;
  white-space: nowrap;
  display: inline-block;
  width: 5em;
  float: left;
}
table.seeklist tbody td div.sl_h em,
table.seeklist tbody td div.sl_d em {
  display: inline-block;
  float: right;
}
table.seeklist tbody td div.sl_d + div.sl_h {
  margin-top: 1.15em;
}
table.seeklist tbody td div.sl_d {
  margin-left: 0.5em;
  line-height: 1.15em;
}
table.seeklist tbody td div.sl_d em {
  font-family: "Courier New bold", Courier, monospace;
  font-weight: bold;
  font-style: normal;
}
table.seeklist tbody td div.sl_d.inactive {
  font-style: italic !important;
  background-color: #e0e0e0 !important;
}
/* [ Help dialogs ] */
.help {
  border: 2px solid #888;
  padding: 0.5em;
  background: #ffffff;
}
.help p {
  margin: 0.5em 0;
  font-size: 100%;
}
.help h1 {
  margin: 0.125em 0;
  font-size: 120%;
  font-weight: normal;
}
.help a {
  color: #0033a0;
  text-decoration: none;
  font-weight: bold;
}
.help a:hover {
  text-decoration: underline;
}
.help .links {
  text-align: center;
  margin: 1em 0;
  font-size: 70%;
}
.help .zone {
  display: block;
  margin: 0.5em 0;
  padding: 0.25em;
  font-weight: bold;
  border: 1px solid #888;
}
.help .zone:after {
  content: '';
  display: table;
  clear: both;
  height: 1px;
  overflow: hidden;
}
.help .header {
  background: #707070;
  color: #ffffff;
  padding: 0.2em;
}
.help .header h2 {
  float: left;
  margin: 0;
  font-size: small;
  color: #ffffff !important;
}
.help .header .links {
  float: right;
  margin: 0;
}
.help .header .links a {
  color: #ffff80;
  font-weight: bold;
  text-decoration: none;
}
.help .header .links a:hover {
  text-decoration: underline;
}
.help .header:after {
  content: '';
  display: table;
  clear: both;
}
.help ol {
  background: #ffffff;
  color: #000;
  margin: 0;
}
.help li {
  list-style: none;
  font-size: 80%;
  font-weight: normal;
}
.help li span.abbr {
  float: right;
  font-weight: bold;
}
.help li a:hover,
.help li a:hover * {
  background: #ffff00;
  text-decoration: underline;
}
.help .body {
  border: 1px solid #707070;
  padding: 0.25em;
  border-top: none;
}
.help img.map {
  width: 100%;
}
.help div.map {
  margin: 0 0 1em 0;
}
/* [ Main Screen ] */
.main {
  padding: 0.5em;
}
.main p {
  margin: 0.5em 0;
  font-size: 100%;
}
.main h1,
.main h2,
.main h3 {
  margin: 0.125em 0;
}
.main h1 {
  font-size: 120%;
  font-weight: bold;
}
.main h2 {
  font-size: 120%;
  font-weight: normal;
  display: inline-block;
  float: left;
}
.main h2 + small {
  display: inline-block;
  float: left;
  margin: 0.5em 1em 0.5em 1em;
}
.main h3 {
  font-size: 90%;
  display: inline-block;
  float: left;
}
.main a {
  color: #0033a0;
  text-decoration: none;
  font-weight: bold;
}
.main a:hover {
  text-decoration: underline;
}
.main .links {
  text-align: center;
  margin: 1em 0;
  font-size: 70%;
}
.main .links_left {
  text-align: left;
  margin: 1em 0;
  font-size: 70%;
}
.main .zone {
  display: block;
  margin: 0.5em 0;
  font-weight: bold;
  padding: 0;
}
.main .zone:after {
  content: '';
  display: table;
  clear: both;
  height: 1px;
  overflow: hidden;
}
.main .zone ol {
  background: #ffffff;
  color: #000;
  margin: 0;
}
.main .zone li {
  list-style: none;
  font-size: 80%;
  font-weight: normal;
}
.main .zone li:hover {
  background: #ffff00;
}
.main .zone li span.abbr {
  float: right;
  font-weight: bold;
}
.main .header {
  background: #707070;
  color: #ffffff;
  padding: 0.2em;
}
.main .header:after {
  content: '';
  display: table;
  clear: both;
}
.main .header h2 {
  float: left;
  margin: 0;
  font-size: small;
  color: #ffffff !important;
}
.main .header .links {
  float: right;
  margin: 0;
}
.main .header .links a {
  color: #ffff80;
  font-weight: bold;
  text-decoration: none;
}
.main .header .links a:hover {
  text-decoration: underline;
}
.main .body {
  border: 1px solid #707070;
  border-top: none;
}
.main img.map {
  width: 100%;
}
.main div.map {
  margin: 0 0 1em 0;
}
.main ul li {
  line-height: 1.25em;
}
.main ul.refs li strong {
  display: inline-block;
  width: 16em;
}
.main .signals_container {
  background-color: #fff;
  page-break-before: always;
}
.main .signals_container p.no-results {
  margin: 0;
  font-size: 12pt;
}
@media screen {
  .main .signals_container {
    border: 1px solid #888;
    border-radius: 5px;
    padding: 0.25em;
  }
}
.main .signals_container h2 {
  font-weight: bold;
  display: block;
  margin: 0 0.25em;
  float: none;
}
.main .signals_container h3 {
  font-weight: bold;
  display: block;
  margin: 0 0.25em;
  float: none;
}
.controlPanel {
  display: inline-block;
}
.controlPanel .header {
  padding: 0.25em;
  white-space: nowrap;
  text-align: center;
  border-radius: 1em 1em 0 0;
  font-size: 80%;
  font-weight: bold;
  box-shadow: #777 2px 2px 5px;
}
.controlPanel .content {
  border: 1px solid #cacaca;
  box-shadow: #777 2px 2px 5px;
  margin: 0 0 0.5em 0;
  padding: 0.25em;
}
.fullwidth .controlPanel {
  width: 100%;
}
#form_limit,
#form_page {
  width: 9em;
  float: left;
  margin: 0 0.5em 0 0;
}
label[for="form_limit"] {
  float: left;
  min-width: 4em;
}
#form_prev,
#form_next {
  float: left;
  margin: 0 0.5em 0 0;
  clear: none;
  font-size: 0.4rem !important;
  line-height: 0.6em;
}
button.tiny {
  font-size: 0.4rem !important;
  line-height: 0.6em;
}
#form button {
  margin: 0.25em 50%;
  padding: 0;
}
#form hr {
  margin: 1.25em 0 0.5em 0;
  border-bottom: 1px solid #a0a0a0;
}
#form fieldset {
  margin: 0;
  padding: 0 0 0.25em 0;
}
#form fieldset legend {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  font-size: 100%;
}
#form fieldset legend.line {
  border-top: 1px solid #ccc;
  padding: 0.25em 0 0 0;
}
#form fieldset#group_ {
  padding: 0;
  margin: 0;
  text-align: center;
}
#form fieldset#group_ div {
  display: inline-block;
}
#form fieldset#group_ button {
  margin: 0.25em 0;
  float: left;
  clear: none;
}
#form fieldset.actionButtons {
  clear: both;
  text-align: center;
}
#form fieldset.actionButtons button {
  margin: 0.5em 0;
  width: 6em;
}
#form #form_prev,
#form #form_next {
  float: left;
  line-height: 1.75em;
  margin: 0 0 0 0.5em;
  padding: 0.25em;
  width: 3em;
  text-align: center;
  font-size: 55% !important;
  font-weight: bold;
}
#form #form_page {
  float: left;
  margin: 0 0 0 0.5em;
}
#form #form_paging_status {
  display: inline-block;
  width: 8em;
  padding: 0;
  line-height: 1.25em;
  margin: 0 0 0 0.5em;
}
#form #form_types div {
  padding: 0 0 0 2px;
  margin: 1px 0 0 0;
}
#form div {
  clear: both;
  /* Hides 'This value is not valid' error with bad country / region combination */
}
#form div label {
  line-height: 1.8em;
  text-align: left;
  font-size: 90%;
  float: left;
  width: 120px;
  font-weight: bold;
  padding: 0;
}
#form div select,
#form div textarea,
#form div input[type='number'],
#form div input[type='text'],
#form div input[type='password'] {
  margin: 0;
  border-radius: 0;
  height: 1.75em;
  padding: 0 0.25em;
  font-size: 80%;
  float: left;
}
#form div select {
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
}
#form div select.multiple {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#form div textarea {
  margin: 0 0 0.25em 0;
}
#form div button {
  float: left;
  clear: none !important;
  width: 6em;
}
#form div p {
  margin: 0;
  border-radius: 0;
  height: 1.5em;
  font-size: 80%;
  float: right;
  text-align: right;
}
#form div div {
  clear: none;
  height: 1.5em;
  float: left;
  display: inline-block;
}
#form div div label {
  float: none;
  width: auto;
  font-size: 80%;
  font-weight: normal;
  margin: 0 0.1em;
  padding: 0 0.1em;
  line-height: 1.5em;
}
#form div ul {
  display: none;
}
/* [ Form Dimensions ] */
.listener_list {
  width: 570px;
}
.listener_list input[type='text'],
.listener_list select {
  width: 435px;
}
.signal_list {
  width: 570px;
}
.signal_list fieldset.section {
  display: inline-block;
  width: 560px;
  float: left;
}
.signal_list input[type='text'],
.signal_list select {
  width: 435px;
}
.signal_list #form_sortby {
  width: 335px;
}
.signal_list #form_za {
  float: left;
  margin: 0.25em 0.5em;
  line-height: 1.5em;
}
.signal_list label[for="form_za"] {
  width: 40px !important;
  text-align: right !important;
  float: left;
}
.signal_list #form_show {
  width: 9em;
}
.signal_list label[for="form_paper"] {
  width: auto !important;
  margin: 0 0.5em;
}
.signal_list #form_paper {
  width: 230px;
  float: right;
}
.signal_list #form_personalise {
  width: 285px;
}
.signal_list label[for="form_offsets"] {
  width: auto !important;
  margin: 0 0.5em;
}
.signal_list #form_offsets {
  width: 85px;
  float: right;
}
.signal_list #form_call {
  width: 60px;
}
.signal_list #form_khz_1,
.signal_list #form_khz_2 {
  width: 50px;
}
.signal_list #form_channels {
  width: 90px;
}
.signal_list #form_gsq {
  width: 220px;
}
.signal_list label[for="form_active"] {
  padding-left: 1em !important;
}
.signal_list #form_active {
  width: 95px;
}
.signal_list #form_personalise,
.signal_list #form_listener {
  overflow: auto;
  margin: 0 0 0.25em 0;
}
.signal_list #form_personalise option.all,
.signal_list #form_listener option.all {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  background: #008000;
  color: #fff;
}
.signal_list #form_personalise option.primaryQth,
.signal_list #form_listener option.primaryQth {
  font-weight: bold;
}
.signal_list #form_personalise option.secondaryQth,
.signal_list #form_listener option.secondaryQth {
  color: #888;
}
.signal_list #form_listener {
  font-family: monospace, monospace;
  font-size: 8pt;
  height: 160px;
}
.signal_list label[for="form_listener"] {
  line-height: 1.8em;
  text-align: left;
  font-size: 90% !important;
  float: left;
  width: 120px;
  font-weight: bold !important;
  padding: 0 !important;
  margin: 0 !important;
}
.signal_list #form_listener_invert {
  width: 120px;
  padding: 0 0 0 0.25em !important;
  height: auto !important;
}
.signal_list #form_listener_invert label {
  padding: 0 0 0 0.25em !important;
}
.signal_list #listener_selection_help {
  width: 100px !important;
  margin: 0.5em 0 0 1em;
  font-size: 80% !important;
  font-style: italic;
}
.signal_list #form_heard_in {
  width: 300px;
}
.signal_list #form_heard_in_mod {
  display: inline-block;
  float: right;
  text-align: right !important;
  width: 130px !important;
}
.signal_list #form_heard_in_mod div {
  padding: 0 0 0 0.5em;
}
.signal_list #form_logged_date_1,
.signal_list #form_logged_date_2,
.signal_list #form_logged_first_1,
.signal_list #form_logged_first_2,
.signal_list #form_logged_last_1,
.signal_list #form_logged_last_2 {
  width: 95px;
  padding: 0 1.75em 0 0.25em !important;
  background: #ffffff url("../image/calendar.png") no-repeat;
  background-size: auto 100%;
  background-position: right;
}
.signal_list label[for="form_khz_1"] {
  width: auto !important;
  margin: 0 0.25em 0 1em;
}
.signal_list label[for="form_channels"] {
  width: auto !important;
  margin: 0 0.25em 0 1em;
}
.signal_list #form_sp_itu_clause {
  width: 60px;
}
.signal_list #form_range_gsq {
  width: 60px;
}
.signal_list #form_range_min,
.signal_list #form_range_max {
  width: 50px;
}
.signal_list label[for="form_range_min"] {
  width: auto !important;
  margin: 0 0.5em 0 30px;
}
.signal_list #form_range_units {
  display: inline-block;
  width: auto !important;
  margin: 0 0.5em 0 30px;
}
.signal_list span {
  display: inline-block;
  margin: 0 0.25em;
  float: left;
}
fieldset#form_types legend,
fieldset#form_range_units legend {
  line-height: 1.8em;
  display: block;
  font-size: 90%;
  float: left;
  font-weight: bold;
  padding: 0 0.5em 0 0;
  color: #000000;
}
fieldset#form_types legend {
  text-align: left;
  width: 120px;
}
fieldset#form_range_units legend {
  text-align: right;
  width: 50px;
}
fieldset#form_range_units div label {
  margin: 0 0.25em;
}
/* [ Form logon ] */
.logon #form {
  width: 300px;
}
.logon #form label {
  width: 150px !important;
}
.logon #form input[type='text'],
.logon #form input[type='password'] {
  width: 140px;
}
.logon #form #form_submit {
  margin: 0 30%;
  width: 10em;
}
/* [ Form listener_view ] */
.listener_view #form label {
  width: 20%;
  min-width: 120px;
}
.listener_view #form input[type='text'],
.listener_view #form textarea,
.listener_view #form select {
  width: 75%;
  padding: 0.125em 0.25em;
  margin: 0 0 0.25em 0;
}
/* [ Form signal_view ] */
.signal_view #form label {
  width: 25%;
  min-width: 120px;
}
.signal_view #form label[for="form_khz"],
.signal_view #form label[for="form_pwr"],
.signal_view #form label[for="form_type"],
.signal_view #form label[for="form_itu"],
.signal_view #form label[for="form_lat"],
.signal_view #form label[for="form_lon"],
.signal_view #form label[for="form_usb"],
.signal_view #form label[for="form_sec"],
.signal_view #form label[for="form_format"],
.signal_view #form label[for="form_firstHeard"],
.signal_view #form label[for="form_lastHeard"] {
  min-width: auto;
  text-align: right;
  padding-right: 0.25em;
}
.signal_view #form label[for="form_khz"],
.signal_view #form label[for="form_pwr"],
.signal_view #form label[for="form_type"] {
  width: 10%;
}
.signal_view #form label[for="form_itu"],
.signal_view #form label[for="form_lat"],
.signal_view #form label[for="form_lon"] {
  width: 15%;
}
.signal_view #form label[for="form_usb"] {
  width: 9%;
}
.signal_view #form label[for="form_sec"] {
  width: 13%;
}
.signal_view #form label[for="form_format"] {
  width: 11%;
}
.signal_view #form label[for="form_firstHeard"],
.signal_view #form label[for="form_lastHeard"] {
  width: 18%;
}
.signal_view #form label b {
  font-weight: normal;
  background: #ffffa0;
  padding: 1px;
  border: 1px solid #b0b000;
  border-radius: 2px;
}
.signal_view #form input[type='text'],
.signal_view #form textarea,
.signal_view #form select {
  width: 75%;
  padding: 0.125em 0.25em;
  margin: 0 0 0.25em 0;
}
.signal_view #form input[type='text']#form_call,
.signal_view #form textarea#form_call,
.signal_view #form select#form_call,
.signal_view #form input[type='text']#form_khz,
.signal_view #form textarea#form_khz,
.signal_view #form select#form_khz,
.signal_view #form input[type='text']#form_pwr,
.signal_view #form textarea#form_pwr,
.signal_view #form select#form_pwr,
.signal_view #form input[type='text']#form_type,
.signal_view #form textarea#form_type,
.signal_view #form select#form_type {
  width: 10%;
}
.signal_view #form input[type='text']#form_sp,
.signal_view #form textarea#form_sp,
.signal_view #form select#form_sp {
  width: 30%;
}
.signal_view #form input[type='text']#form_itu,
.signal_view #form textarea#form_itu,
.signal_view #form select#form_itu {
  width: 20%;
}
.signal_view #form input[type='text']#form_gsq,
.signal_view #form textarea#form_gsq,
.signal_view #form select#form_gsq,
.signal_view #form input[type='text']#form_lat,
.signal_view #form textarea#form_lat,
.signal_view #form select#form_lat,
.signal_view #form input[type='text']#form_lon,
.signal_view #form textarea#form_lon,
.signal_view #form select#form_lon {
  width: 15% !important;
}
.signal_view #form input[type='text']#form_lsb,
.signal_view #form textarea#form_lsb,
.signal_view #form select#form_lsb,
.signal_view #form input[type='text']#form_usb,
.signal_view #form textarea#form_usb,
.signal_view #form select#form_usb,
.signal_view #form input[type='text']#form_sec,
.signal_view #form textarea#form_sec,
.signal_view #form select#form_sec {
  width: 7%;
}
.signal_view #form input[type='text']#form_format,
.signal_view #form textarea#form_format,
.signal_view #form select#form_format {
  width: 16%;
}
.signal_view #form input[type='text']#form_active,
.signal_view #form textarea#form_active,
.signal_view #form select#form_active {
  width: 13%;
}
.signal_view #form input[type='text']#form_firstHeard,
.signal_view #form textarea#form_firstHeard,
.signal_view #form select#form_firstHeard,
.signal_view #form input[type='text']#form_lastHeard,
.signal_view #form textarea#form_lastHeard,
.signal_view #form select#form_lastHeard {
  width: 13%;
}
.signal_view #form div#form_itu_suffix,
.signal_view #form div#form_sp_suffix {
  padding-left: 0.25em;
  float: left;
  width: 5%;
  font-size: 80%;
}
.signal_view #form div#form_pwr_suffix,
.signal_view #form div#form_sec_suffix {
  padding-left: 0.25em;
  float: left;
  width: 5%;
  font-size: 80%;
}
.signal_view #form div#heardIn {
  width: 75%;
  min-height: 1.75em;
  font-size: 80%;
  height: auto;
  border: 1px solid #cacaca;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  background: #e6e6e6;
  padding: 0.25em;
  margin-bottom: 0.25em;
}
.signal_view #form div#heardIn a {
  font-weight: normal;
}
.signal_view #form div#heardIn a:hover {
  color: #0000ff;
}
.signal_view #form div#heardIn b {
  background: #ffffa0;
  padding: 1px;
  border: 1px solid #b0b000;
  border-radius: 2px;
}
.signal_view #form fieldset {
  margin-top: 0.75em;
}
/* [ Form listener_signals ] */
.listener_signals .results thead tr th,
.listener_logs .results thead tr th,
.signal_listeners .results thead tr th,
.signal_logs .results thead tr th,
.signal_rx_map .results thead tr th {
  height: 3em !important;
}
.signal_rx_map,
.signal_rx_map * {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: top;
  background: transparent;
}
.signal_rx_map #map,
.signal_rx_map * #map {
  position: relative;
  top: 0;
  left: 0;
}
.signal_rx_map #rx_map,
.signal_rx_map * #rx_map {
  position: relative;
}
.signal_rx_map #point_here,
.signal_rx_map * #point_here {
  z-index: 100;
  position: absolute;
  display: none;
}
.signal_rx_map div.scroll {
  padding: 0 0.5em;
  display: flex;
  flex-direction: column;
}
.signal_rx_map div.scroll div {
  height: 100%;
  overflow: auto;
}
.signal_rx_map div.scroll div table.results {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  background: #ffffff;
}
.signal_rx_map div.scroll div table.results thead th {
  position: sticky;
  top: -1px;
  border-top: none;
  border-bottom: none;
}
.signal_rx_map div.scroll div table.results tbody tr:hover {
  background: #ffff00;
}
.signal_rx_map div.scroll div table.results img {
  margin: 0.5em 0.25em 0 0;
}
/* [ Form listener_weather, signal_weather ] */
.listener_weather #form div,
.signal_weather #form div {
  display: inline-block;
}
.listener_weather #form div button,
.signal_weather #form div button {
  width: 8.5em;
}
.listener_weather #form_icao,
.signal_weather #form_icao {
  width: 20em;
  font-size: 10pt;
  font-family: 'Courier New', monospace;
  font-weight: bold;
}
.listener_weather #form_hours,
.signal_weather #form_hours {
  width: 3.5em;
  text-align: right;
}
.listener_weather #weather,
.signal_weather #weather {
  height: 25em;
  font-size: 10pt;
  font-family: 'Courier New', monospace;
}
fieldset#group_weather_report_details div * {
  line-height: 1.8em;
  padding: 0;
  margin: 0;
}
fieldset#group_weather_report_details div label {
  width: auto;
  line-height: unset;
  margin: 0 0.5em;
}
/* [ Listener Stats ] */
.listener_stats div.stats {
  clear: both;
  border: 1px solid #ccc;
  background: #ffffff;
  padding: 0.25em 0.25em 0 0.25em;
  margin: 0.25em 0;
  width: 18em;
}
.listener_stats div.signal_stat {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 20em;
  line-height: initial;
}
.listener_stats div.signal_stat label {
  font-weight: bold;
  width: 15em;
  margin: 0;
  padding: 0.25em;
  border: 1px solid #ccc;
  float: left;
  line-height: initial;
}
.listener_stats div.signal_stat div {
  display: inline-block;
  float: left;
  margin: 0 0.25em;
  padding: 0.25em;
  width: 4em;
  text-align: right;
  line-height: initial;
}
/* [ Grid CSS ] */
.results {
  margin: 0;
  border-collapse: collapse;
}
.results thead th {
  background: #686868;
  color: #ffffff;
  border: 1px solid #808080;
}
.results tbody th {
  vertical-align: top;
  background: #95de95;
  color: #008000;
  border: 1px solid #808080;
}
.results th {
  height: 7em !important;
  max-height: 7em !important;
  vertical-align: bottom;
  font-size: 80%;
  padding: 0.25em;
}
.results th.sort {
  border-bottom: 3px solid #a0a0a0;
}
.results th.nosort {
  background: #008000;
  border-bottom: 3px solid #006000;
}
.results th.sort:hover,
.results th.sorted {
  border-bottom: 3px solid #FCC247 !important;
  background: #665d4b;
  cursor: pointer;
}
.results th.sorted {
  color: #ffe4b3;
}
.results th b {
  background: #ffffa0;
  color: #0000ff;
  border: 1px solid #b0b000;
  border-radius: 2px;
}
.results tr.logged td {
  background: #e8ffe8 !important;
  color: #008000 !important;
}
.results tr.inactive.logged td {
  background: #a0d0a0 !important;
}
.results td {
  border: 1px solid #808080;
  height: 1.25em;
  vertical-align: top;
  font-size: 80%;
  padding: 0.125em 0.25em;
}
.results td.caps {
  text-transform: uppercase;
}
.results td em {
  font-style: normal;
  font-weight: bold;
  background: #e0ffe0;
  color: #008000;
  padding: 0;
  border: 1px solid #80b080;
  border-radius: 2px;
}
.results td b {
  background: #ffffa0;
  padding: 1px;
  border: 1px solid #b0b000;
  border-radius: 2px;
}
/* [ Listeners Grid ] */
.results.listener .primaryQth {
  font-weight: bold;
}
.results.listener .secondaryQth {
  padding-left: 1.5em;
}
.results.listener .secondaryQth a {
  font-weight: normal;
}
/* [ Report Actions ] */
.report_actions {
  text-align: center;
  margin: 0.25em !important;
}
.report_actions .button {
  margin: 0;
  padding: 0.5em 1em;
  width: 120px;
}
/* Hide display of URLs for each link caused by foundation class - wastes a lot of paper otherwise */
@media print {
  a[href]:after {
    content: none !important;
  }
  .results {
    border: 1px solid green;
  }
  body {
    font-size: 85%;
    width: 95%;
  }
}
/* [ Help pages */
pre.log {
  background: #ffffff;
  border: 1px solid #888;
  padding: 0 5px;
  display: inline-block;
}
#tabs {
  padding: 0 0 0 20px;
}
#tabs .button {
  margin: 0;
  border-radius: 5px 5px 0 0;
  padding: 0.5em 1em 0.5em 1em;
  border-bottom: none;
}
#tabs .button.is-active {
  color: yellow !important;
}
/* [ Google Map Pages ] */
html,
body.map {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}
body.map #header {
  min-height: 4.5em;
}
body.map #header .form_layers {
  display: inline-block;
  background: #ffffff;
  border: 1px solid #aaa;
  margin: 0 5px;
  border-radius: 4px;
}
body.map #header .form_layers div {
  float: left;
  padding: 2px 4px;
  margin: 0;
}
body.map #map {
  height: 80%;
  margin: 0 0.25em;
  overflow: auto;
  border: 1px solid #aaa;
}
body.map h1 {
  margin: 0.125em 5px;
  white-space: nowrap;
}
body.map .gm-style-iw h2 {
  margin: 0.25em 0;
}
body.map .gm-style-iw p {
  margin: 0.25em 0;
}
.gridLabel {
  position: absolute;
  z-index: -100000;
  color: #408080;
  font-weight: bold;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  opacity: 0.9;
}
#sysinfo {
  text-align: center;
}
#sysinfo table {
  border-collapse: collapse;
  border: 0;
  width: 934px;
  box-shadow: 1px 2px 3px #ccc;
  margin: 1em auto;
  text-align: left;
}
#sysinfo table td,
#sysinfo table th {
  border: 1px solid #666;
  font-size: 75%;
  vertical-align: baseline;
  padding: 4px 5px;
}
#sysinfo table th {
  text-align: center !important;
}
#sysinfo table .p {
  text-align: left;
}
#sysinfo table .e {
  background-color: #ccf;
  width: 300px;
  font-weight: bold;
}
#sysinfo table .h {
  background-color: #99c;
  font-weight: bold;
}
#sysinfo table .v {
  background-color: #ddd;
  max-width: 300px;
  overflow-x: auto;
  word-wrap: break-word;
}
#sysinfo table .v i {
  color: #999;
}
#sysinfo h1 {
  font-size: 150%;
}
#sysinfo h2 {
  font-size: 125%;
}
#sysinfo hr {
  width: 934px;
  background-color: #ccc;
  border: 0;
  height: 1px;
}
#sysinfo img {
  float: right;
  border: 0;
}
#panel {
  font-family: Arial, sans-serif;
  font-size: 10px;
  float: left;
  width: 340px;
  height: 550px;
}
#map-container {
  margin-left: 350px;
}
#map {
  width: 100%;
  height: 650px;
}
#panel #markerlist {
  height: 620px;
  margin: 10px 5px 0 10px;
  overflow: auto;
}
#panel #markerlist .logged a b {
  background: #e0ffe0 !important;
  border: 1px solid #80c080 !important;
}
#panel .title {
  border-bottom: 1px solid #e0ecff;
  white-space: nowrap;
  overflow: hidden;
  width: 310px;
  cursor: pointer;
  padding: 2px 0;
  display: block;
  color: #000;
  font-weight: normal;
  text-decoration: none;
}
#panel .title:visited {
  color: #000;
}
#panel .title:hover {
  background: #ffffa0 !important;
}
#panel .title b {
  width: 100px;
  padding: 0 0.5em;
  margin: 0 0.5em;
  float: left;
}
.info .head {
  padding: 0 2em;
}
.map_info h2 {
  margin: 0;
  float: left;
}
.map_info h3 {
  margin: 0;
  font-size: 10pt;
  display: block;
  clear-after: both;
}
.map_info .info-body th {
  vertical-align: top;
  padding: 3px;
  font-size: 10pt;
  text-align: left;
  width: 6em;
}
.map_info .info-body td {
  vertical-align: top;
  padding: 3px;
  font-size: 10pt;
  width: 16em;
}
#main .help .header h3 {
  font-size: 120%;
  float: left;
}
.fa-info-circle {
  color: #00f;
}
