{% set mode = '%s &gt; Listener Awards'|trans|format(l.name) %}
{% extends 'popup.html.twig' %}
{% block body %}
    <div class="main fullwidth">
        {% set form_class='listener_export' %}
        {% include 'listener/tabs.html.twig' %}
        <div class="controlPanel">
            <div class="header">{{ mode|raw }}</div>
            <div class="content">
                <h2 id="toggle_about">
                    <span>&#9744;</span><span style="display:none">&#9746;</span>
                    {% trans %}About These Awards{% endtrans %}
                </h2>
                <div id="about" style="display:none;margin: 0 0 1em 1.5em">
                    <p>{% trans %}The NDB List Awards Program recognizes the achievements and issues certificates free of charge to NDB List Members who DX non-directional radio beacons in the LF/MF frequency range (190 to 1800 kHz). These certificates are not intended as, nor should they be considered prizes in a 'contest'. They are tangible symbols of the hard work, dedication, technical skill and fun that goes along with our hobby.{% endtrans %}</p>
                    <p>{% trans %}Virtually all listeners who desire them can get at least one in each category. The 'difficulty factor' in each ranges from modest to a level that even experienced listeners will find challenging. In setting these requirements, we have kept in mind the fact that the vast majority of List members are in either Europe or North America.{% endtrans %}</p>
                    <p>{% trans %}To request an award, click on the shopping-cart icon besides the award name and category.{% endtrans %}</p>
                </div>
                {% include 'listener/awards/daytime.html.twig' %}
                {% include 'listener/awards/longranger.html.twig' %}
                {% include 'listener/awards/continental.html.twig' %}
                {% include 'listener/awards/country.html.twig' %}
                {% include 'listener/awards/north60.html.twig' %}
                {% include 'listener/awards/lt.html.twig' %}
                {% include 'listener/awards/transatlantic.html.twig' %}
                {% include 'listener/awards/transpacific.html.twig' %}
                {% include 'listener/awards/canadiantranscontinental.html.twig' %}
                {% include 'listener/awards/region_eu.html.twig' %}
                {% include 'listener/awards/region_na.html.twig' %}
                {% include 'listener/awards/region_ca.html.twig' %}
                {% include 'listener/awards/region_sa.html.twig' %}
                {% include 'listener/awards/region_af.html.twig' %}
                {% include 'listener/awards/region_as.html.twig' %}
                {% include 'listener/awards/region_oc.html.twig' %}
                {% include 'listener/awards/region_an.html.twig' %}
            </div>
        </div>
    </div>
{% include 'js_trans.html.twig' %}
<script>
    $(document).ready( function() {
        setExternalLinks();
        setAwardsShowHide([ 'about', 'daytime', 'longranger', 'region_eu', 'region_na', 'region_ca', 'region_sa', 'region_af', 'region_as', 'region_oc', 'region_an' ]);
    });
</script>
{% endblock %}