{% extends 'popup.html.twig' %}
{% block body %}
    <div class="main fullwidth">
        {% set form_class='listener_export' %}
        {% include 'listener/tabs.html.twig' %}
        <div class="controlPanel">
            <div class="header">{{ mode|raw }}</div>
            <div class="content">
                <h2>Listener Awards Available</h2>
                <p>Coming soon!</p>
            </div>
        </div>
    </div>
    <script>
        $(document).ready( function() {
            setExternalLinks();
        });
    </script>
{% endblock %}