<div class="scroll">
{% include 'listener/logsessionlogs.grid.html.twig' %}
</div>
<script>
    $(document).ready( function() {
        setExternalLinks();
        setClippedCellTitles();
    });
</script>