{% extends 'popup.html.twig' %}
{% block body %}
<div class="main fullwidth">
{% set form_class='listener_view' %}
{% include 'listener/tabs.html.twig' %}
{% include 'listener/form.html.twig' %}
</div>
{% endblock %}