{% extends 'popup.html.twig' %}
{% block body %}
<div class="main fullwidth">
{% set form_class='listener_signals' %}
    {% include 'listener/menu.html.twig' %}
    <div class="controlPanel {{ form_class }}">
        <div class="header">{{ mode|raw }}</div>
        <div class="content">
{% include 'listener/signals.grid.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}