{% extends 'popup.html.twig' %}
{% block body %}
<div class="main fullwidth">
{% set form_class='listener_weather' %}
{% include 'listener/tabs.html.twig' %}
{% include 'listener/weather.form.html.twig' %}
</div>
{% endblock %}