From <a href='https://services.swpc.noaa.gov/images/animations/ovation-north/latest.jpg' rel="external">NOAA Auroral Activity</a> site.<br>
<a href='https://services.swpc.noaa.gov/images/animations/ovation-north/latest.jpg' rel="external"><img
    src='https://services.swpc.noaa.gov/images/animations/ovation-north/latest.jpg' alt="Aurora Chart"></a>