.logsession_loader {
    position: relative;
    border: 1px solid #000;
    background: #eee;
    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 200%;
        margin: 0;
        transform: translate(-50%, -50%);
    }
}
.logsession_edit {
    table,
    table tbody {
        background: transparent;
    }
    table tr td {
        width: 50%;
        vertical-align: top;
    }
    label {
        white-space: nowrap;
    }
    select#form_listenerId,
    select#form_operatorId {
        margin: 0 0 0.5em 0;
        height: 20em;
        width: 450px !important;
        font-family: monospace;

        option.primaryQth {
            font-weight: bold;
        }

        option.secondaryQth {
            padding-left: 1.5em;
            color: #888;
        }

        option:checked {
            border-top: 2px dashed #f00;
            border-bottom: 2px dashed #f00;
        }
    }
}
div.scroll form fieldset#form_type div {
    height: 1.5em;
    padding: 0.25em !important;
    overflow: hidden;
}
table.logsessions tbody {
    tr {
        cursor: pointer;
        &.selected {
            color: #080;
            font-weight: bold;
            td {
                background: #ffffa0;
            }
        }
    }
}
#logsessions_form {
    #logsessions_paging {
        height: 30px;
        float: left
    }
    #form {
        width: 420px;
        height: 30px;
        fieldset {
            div {
                line-height: 14px;
                float: right;
            }
        }
    }
    .logSessionForm {
        width: 460px;
        float: left;
        label {
            margin: 0 5px 0 20px;
            width: auto;
        }
        input[type=text] {
            width: 8em;
        }
    }
}
@media all and (min-width: 1210px) {
    #logsessions_form {
        #form {
            float: right;
        }
    }
}
@media all and (max-width: 1209px) {
    #logsessions_form {
        #form {
            float: left;
        }
    }
}
