.listener_view {
    #form {
        label {
            width: 20%;
            //min-width: 120px;
            &[for="form_timezone"],
            &[for="form_timezone-button"]{
                width: 10%;
                min-width: auto;
                text-align: right;
                padding-right: 0.75em;
            }
        }
        input[type='text'],
        textarea,
        select {
            width: 75%;
            padding: 0.125em 0.25em;
            margin: 0 0 0.25em 0;
        }
        textarea {
            height: 6em;
        }
        // Timezone selector is JQuery UI so we can style options properly
        #form_timezone-button {
            width: 55%;
        }
        div#form_gsq_suffix {
            padding-left: 0.25em;
            float: left;
            width: 5%;
            font-size: 80%;
        }
    }
}