.listener_view {
    #form {
        label {
            width: 20%; min-width: 120px;
        }
        input[type='text'],
        textarea,
        select {
            width: 75%;
            padding: 0.125em 0.25em;
            margin: 0 0 0.25em 0
        }
    }
}