{% if form.prev is defined %}
<div style="margin: 0.25em">
    <fieldset>
        {{ form_widget(form.prevbottom) }}
        {{ form_widget(form.nextbottom) }}
    </fieldset>
</div>

<script>
// alert('123');
</script>
{% endif %}
