{# templates/emails/admin/test.html.twig #}
<p><strong>Test Message from RNA / REU / RWW</strong></p>

<p>Dear Recipient,</p>

<p>If you have successfully received this message, then the RNA / REU / RWW sstem is capable of delivering message to you.</p>

<p>Sincerely,</p>

<p>{{ admin|raw }}</p>