{% extends 'main.html.twig' %}

{% block body %}
<div class="main">
    <h1>{{ title | trans }}</h1>
    {% if zones|length > 1 %}
        <div class="links quicklinks">[
        {% for key, m in zones %}
            <a href="#{{ key }}">{{ m.shortName }}</a>{%  if not loop.last %} |{%  endif %}
        {% endfor %}
        ]</div>
    {% endif %}
    <div class="main">
    {% for key, m in zones %}
        {% set mode = m.mode %}
        {% set map = m.map %}
        {% set showTopAndPopup = true %}
        {% set countryBtn = (m.countryBtn is defined ? m.countryBtn : false) %}
        {% set countryFilter = (m.countryFilter is defined ? m.countryFilter : false) %}
        {% set stateBtn = (m.stateBtn is defined ? m.stateBtn : false) %}
        {% set stateFilter = (m.stateFilter is defined ? m.stateFilter : false) %}
        <div class="map">
            {% include 'maps/inner.html.twig' %}
        </div>
    {% endfor %}
    </div>
</div>
<script>
$(document).ready( function() {
    setExternalLinks();
});
</script>
{% endblock %}