{% extends 'base.html.twig' %}

{% block title %}{{ system|upper }} &gt; {{ mode }}{% endblock %}

{% block body %}
<div class="help">
    <div>
{% include 'maps/inner.html.twig' %}
    </div>
</div>
{% endblock %}