<html>
<head>
    <style>
        body { font-family: Arial; }
    </style>
    <title>Changelog for NDB Weblog</title>
    <script src="{{ asset('js/ndbweblog/changelog.js') }}"></script>
    <script>changelog(current);</script>
</head>
</html>
