{% set award = 'transpacific' %}
{% set award_title = "Transpacific DX Awards" | trans %}
{% set award_info =
    "Yes, we must also be fair to those interested in the \"Really Big Pond\". This certificate recognises  reception of NDBs accross the pacific in either direction." | trans
    ~ "<ul>"
    ~ "    <li>" ~ "For listeners in North, central or South America qualifying beacons must be in Asian countries or on Australian mainland, in New Zealand or Papua New Guinea, but not other countries in Oceania." | trans ~ "</li>"
    ~ "    <li>" ~ "For listeners in Asia, Australia, New Zealand or Papua New Guinea qualifying beacons must be in North, Central or South America" | trans ~ "</li>"
    ~ "</ul>"
%}
{% include 'listener/awards/signals.html.twig' %}