{% set award = 'transatlantic' %}
{% set award_title = "Transatlantic DX Awards" | trans %}
{% set award_info =
      "This is probably the most challenging award of the program, even at its first level. However, there is a lot of interest on both sides of the Atlantic in transoceanic NDB DX." | trans
    ~ "To qualify, listeners must hear NDBs on the other side." | trans
    ~ "<ul>"
    ~ "    <li>" ~ "European listeners may count NDBs in Greenland, Canada, the United States and the islands of the caribbean as well as Central and South America." | trans ~ "</li>"
    ~ "    <li>" ~ "North American listeners may count NDBs in the Azores, the Canary Islands and Cape Verde as well as those on the European and African continents proper." | trans ~ "</li>"
    ~ "</ul>"
%}
{% include 'listener/awards/signals.html.twig' %}