{% extends 'popup.html.twig' %}
{% block body %}
<div class="main fullwidth">
{% set form_class='signal_view' %}
{% include 'signal/tabs.html.twig' %}
{% include 'signal/form.html.twig' %}
</div>
<script>
    $(document).ready( function() {
        setExternalLinks();
    });
</script>
{% endblock %}