{# i18n template as base for translations #}
{% trans %}<{% endtrans %}
{% trans %}>{% endtrans %}
{% if 'Menu' %}
    {% trans %}Signals Received in Europe{% endtrans %}
    {% trans %}Signals Received in N & C America + Hawaii{% endtrans %}
    {% trans %}Signals Received Worldwide{% endtrans %}
    {% trans %}North America (RNA){% endtrans %}
    {% trans %}Europe (REU){% endtrans %}
    {% trans %}Worldwide (RWW){% endtrans %}
    {% trans %}Signals{% endtrans %}
    {% trans %}Maps{% endtrans %}
    {% trans %}Listeners{% endtrans %}
    {% trans %}Log On{% endtrans %}
    {% trans %}Log Off{% endtrans %}
    {% trans %}Help{% endtrans %}
    {% trans %}Admin Help{% endtrans %}
    {% trans %}System Info{% endtrans %}
{% endif %}
{% if 'Log On' %}
    {% trans %}Administrator Log On{% endtrans %}
    {% trans %}Log On{% endtrans %}
    {% trans %}You must Log On in order to perform administrative functions.{% endtrans %}
    {% trans %}You are now logged on as an Administrator and may perform administrative functions.{% endtrans %}
    {% trans %}To Log Off, select <strong>Log Off</strong> from the main menu.{% endtrans %}
    {% trans %}Username{% endtrans %}
    {% trans %}Password{% endtrans %}
    {% trans %}Please provide a valid Username{% endtrans %}
    {% trans %}Please provide a valid Password{% endtrans %}
{% endif %}
{% if 'Footer' %}
    {% trans %}Your %s Editors are:{% endtrans %}
    {% trans %}(for DSC signals){% endtrans %}
    {% trans %}(for NDBs and Ham Beacons){% endtrans %}
    {% trans %}(for DGPS and Navtex signals){% endtrans %}
    {% trans %}(Awards Coordinator){% endtrans %}
    {% trans %}(Software Development){% endtrans %}
    {% trans %}(Initial Concept){% endtrans %}
    {% trans %}(for NDBs){% endtrans %}
    {% trans %}(for Ham Beacons){% endtrans %}
{% endif %}
{% if 'Regions' %}
    {% trans %}(All Regions){% endtrans %}
    {% trans %}Africa{% endtrans %}
    {% trans %}Antarctica{% endtrans %}
    {% trans %}Asia{% endtrans %}
    {% trans %}Carribean{% endtrans %}
    {% trans %}Europe{% endtrans %}
    {% trans %}International Waters{% endtrans %}
    {% trans %}North America{% endtrans %}
    {% trans %}Oceania (Pacific){% endtrans %}
    {% trans %}South America{% endtrans %}
    {% trans %}Unknown{% endtrans %}
{% endif %}
{% if 'Countries' %}
    {% trans %}(All Countries){% endtrans %}
    {% trans %}Afghanistan{% endtrans %}
    {% trans %}Alaska{% endtrans %}
    {% trans %}Albania{% endtrans %}
    {% trans %}Algeria{% endtrans %}
    {% trans %}Andaman & Nicobar Islands{% endtrans %}
    {% trans %}Andorra{% endtrans %}
    {% trans %}Angola{% endtrans %}
    {% trans %}Anguilla{% endtrans %}
    {% trans %}Antarctica (Mainland){% endtrans %}
    {% trans %}Antigua & Barbuda{% endtrans %}
    {% trans %}Argentina{% endtrans %}
    {% trans %}Armenia{% endtrans %}
    {% trans %}Aruba{% endtrans %}
    {% trans %}Ascension Island{% endtrans %}
    {% trans %}Austral Islands (Iles Tubuai){% endtrans %}
    {% trans %}Australia{% endtrans %}
    {% trans %}Austria{% endtrans %}
    {% trans %}Azerbaijan{% endtrans %}
    {% trans %}Azores{% endtrans %}
    {% trans %}Bahamas{% endtrans %}
    {% trans %}Bahrain{% endtrans %}
    {% trans %}Balearic Islands{% endtrans %}
    {% trans %}Bangladesh{% endtrans %}
    {% trans %}Barbados{% endtrans %}
    {% trans %}Bear Island (Bjornoya){% endtrans %}
    {% trans %}Belarus{% endtrans %}
    {% trans %}Belgium{% endtrans %}
    {% trans %}Belize{% endtrans %}
    {% trans %}Benin{% endtrans %}
    {% trans %}Bermuda{% endtrans %}
    {% trans %}Bhutan{% endtrans %}
    {% trans %}Bolivia{% endtrans %}
    {% trans %}Bosnia-Hercegovina{% endtrans %}
    {% trans %}Botswana{% endtrans %}
    {% trans %}Brazil{% endtrans %}
    {% trans %}Brunei{% endtrans %}
    {% trans %}Bulgaria{% endtrans %}
    {% trans %}Burkina Faso{% endtrans %}
    {% trans %}Burundi{% endtrans %}
    {% trans %}Cabinda{% endtrans %}
    {% trans %}Cambodia{% endtrans %}
    {% trans %}Cameroon{% endtrans %}
    {% trans %}Canada{% endtrans %}
    {% trans %}Canary Islands{% endtrans %}
    {% trans %}Cape Verde{% endtrans %}
    {% trans %}Cayman Islands{% endtrans %}
    {% trans %}Central African Republic{% endtrans %}
    {% trans %}Ceuta{% endtrans %}
    {% trans %}Chad{% endtrans %}
    {% trans %}Chile{% endtrans %}
    {% trans %}China{% endtrans %}
    {% trans %}Christmas Island{% endtrans %}
    {% trans %}Clipperton{% endtrans %}
    {% trans %}Cocos (Keeling) Islands{% endtrans %}
    {% trans %}Colombia{% endtrans %}
    {% trans %}Comoros{% endtrans %}
    {% trans %}Congo-Brazzaville{% endtrans %}
    {% trans %}Congo-Kinshasa{% endtrans %}
    {% trans %}Cook Islands (Northern){% endtrans %}
    {% trans %}Cook Islands (Southern){% endtrans %}
    {% trans %}Corsica{% endtrans %}
    {% trans %}Costa Rica{% endtrans %}
    {% trans %}Croatia{% endtrans %}
    {% trans %}Cuba{% endtrans %}
    {% trans %}Cyprus{% endtrans %}
    {% trans %}Czechia{% endtrans %}
    {% trans %}Denmark{% endtrans %}
    {% trans %}Desventurados{% endtrans %}
    {% trans %}Diego Garcia (Biot){% endtrans %}
    {% trans %}Djibouti{% endtrans %}
    {% trans %}Dominica{% endtrans %}
    {% trans %}Dominican Republic{% endtrans %}
    {% trans %}Easter Island{% endtrans %}
    {% trans %}Ecuador{% endtrans %}
    {% trans %}Egypt{% endtrans %}
    {% trans %}El Salvador{% endtrans %}
    {% trans %}England{% endtrans %}
    {% trans %}Equatorial Guinea{% endtrans %}
    {% trans %}Eritrea{% endtrans %}
    {% trans %}Estonia{% endtrans %}
    {% trans %}Ethiopia{% endtrans %}
    {% trans %}Europa Island{% endtrans %}
    {% trans %}Falkland Islands{% endtrans %}
    {% trans %}Faroe Islands{% endtrans %}
    {% trans %}Fernando de Noronha (BRA){% endtrans %}
    {% trans %}Fiji{% endtrans %}
    {% trans %}Finland{% endtrans %}
    {% trans %}France{% endtrans %}
    {% trans %}French Guyana{% endtrans %}
    {% trans %}Gabon{% endtrans %}
    {% trans %}Galapagos{% endtrans %}
    {% trans %}Gambia{% endtrans %}
    {% trans %}Georgia{% endtrans %}
    {% trans %}Germany{% endtrans %}
    {% trans %}Ghana{% endtrans %}
    {% trans %}Gibraltar{% endtrans %}
    {% trans %}Glorieuse Island{% endtrans %}
    {% trans %}Greece{% endtrans %}
    {% trans %}Greenland{% endtrans %}
    {% trans %}Grenada{% endtrans %}
    {% trans %}Guadeloupe{% endtrans %}
    {% trans %}Guam{% endtrans %}
    {% trans %}Guatemala{% endtrans %}
    {% trans %}Guernsey{% endtrans %}
    {% trans %}Guinea{% endtrans %}
    {% trans %}Guinea-Bissau{% endtrans %}
    {% trans %}Guyana{% endtrans %}
    {% trans %}Haiti{% endtrans %}
    {% trans %}Hawaii{% endtrans %}
    {% trans %}Honduras{% endtrans %}
    {% trans %}Howland & Baker Islands{% endtrans %}
    {% trans %}Hungary{% endtrans %}
    {% trans %}Iceland{% endtrans %}
    {% trans %}India{% endtrans %}
    {% trans %}Indonesia{% endtrans %}
    {% trans %}Int Waters: Africa{% endtrans %}
    {% trans %}Int Waters: Asia{% endtrans %}
    {% trans %}Int Waters: C.America / Carribean{% endtrans %}
    {% trans %}Int Waters: Europe{% endtrans %}
    {% trans %}Int Waters: N.America{% endtrans %}
    {% trans %}Int Waters: Oceania{% endtrans %}
    {% trans %}Int Waters: S.America{% endtrans %}
    {% trans %}Iran{% endtrans %}
    {% trans %}Iraq{% endtrans %}
    {% trans %}Ireland{% endtrans %}
    {% trans %}Isle Of Man{% endtrans %}
    {% trans %}Israel{% endtrans %}
    {% trans %}Italy{% endtrans %}
    {% trans %}Ivory Coast{% endtrans %}
    {% trans %}Jamaica{% endtrans %}
    {% trans %}Jan Mayen{% endtrans %}
    {% trans %}Japan{% endtrans %}
    {% trans %}Jarvis{% endtrans %}
    {% trans %}Jersey{% endtrans %}
    {% trans %}Johnston Island{% endtrans %}
    {% trans %}Jordan{% endtrans %}
    {% trans %}Juan De Nova Island{% endtrans %}
    {% trans %}Juan Fernandez & Isla Rob{% endtrans %}
    {% trans %}Kalinigrad{% endtrans %}
    {% trans %}Kazakhstan{% endtrans %}
    {% trans %}Kenya{% endtrans %}
    {% trans %}Kirghizistan{% endtrans %}
    {% trans %}Kiribati{% endtrans %}
    {% trans %}Korea, North{% endtrans %}
    {% trans %}Korea, South{% endtrans %}
    {% trans %}Kuwait{% endtrans %}
    {% trans %}Laos{% endtrans %}
    {% trans %}Latvia{% endtrans %}
    {% trans %}Lebanon{% endtrans %}
    {% trans %}Lesotho{% endtrans %}
    {% trans %}Liberia{% endtrans %}
    {% trans %}Libya{% endtrans %}
    {% trans %}Liechtenstein{% endtrans %}
    {% trans %}Line Islands (North){% endtrans %}
    {% trans %}Line Islands (South){% endtrans %}
    {% trans %}Lithuania{% endtrans %}
    {% trans %}Lord Howe Island{% endtrans %}
    {% trans %}Luxembourg{% endtrans %}
    {% trans %}Macedonia{% endtrans %}
    {% trans %}Madagascar{% endtrans %}
    {% trans %}Madeira{% endtrans %}
    {% trans %}Malawi{% endtrans %}
    {% trans %}Malaysia{% endtrans %}
    {% trans %}Maldives{% endtrans %}
    {% trans %}Mali{% endtrans %}
    {% trans %}Malta{% endtrans %}
    {% trans %}Marquesas Islands{% endtrans %}
    {% trans %}Marshall Islands{% endtrans %}
    {% trans %}Martinique{% endtrans %}
    {% trans %}Mauritania{% endtrans %}
    {% trans %}Mauritius{% endtrans %}
    {% trans %}Mayotte{% endtrans %}
    {% trans %}Melilla{% endtrans %}
    {% trans %}Mexico{% endtrans %}
    {% trans %}Micronesia{% endtrans %}
    {% trans %}Midway Island{% endtrans %}
    {% trans %}Minami Tori Shima (JPN){% endtrans %}
    {% trans %}Moldova{% endtrans %}
    {% trans %}Monaco{% endtrans %}
    {% trans %}Mongolia{% endtrans %}
    {% trans %}Montenegro (Yugoslavia){% endtrans %}
    {% trans %}Montserrat{% endtrans %}
    {% trans %}Morocco{% endtrans %}
    {% trans %}Mozambique{% endtrans %}
    {% trans %}Myanmar{% endtrans %}
    {% trans %}Nakhichevan (Azerbaijan){% endtrans %}
    {% trans %}Namibia{% endtrans %}
    {% trans %}Nauru{% endtrans %}
    {% trans %}Nepal{% endtrans %}
    {% trans %}Netherlands{% endtrans %}
    {% trans %}Netherlands Antilles{% endtrans %}
    {% trans %}New Caledonia{% endtrans %}
    {% trans %}New Zealand{% endtrans %}
    {% trans %}Nicaragua{% endtrans %}
    {% trans %}Niger{% endtrans %}
    {% trans %}Nigeria{% endtrans %}
    {% trans %}Niue Island{% endtrans %}
    {% trans %}Norfolk Island{% endtrans %}
    {% trans %}Northern Ireland{% endtrans %}
    {% trans %}Northern Mariana Islands{% endtrans %}
    {% trans %}Norway{% endtrans %}
    {% trans %}Ogasawara (JPN){% endtrans %}
    {% trans %}Okino Tori Shima (JPN){% endtrans %}
    {% trans %}Oman{% endtrans %}
    {% trans %}Orkney Islands{% endtrans %}
    {% trans %}Pakistan{% endtrans %}
    {% trans %}Palau{% endtrans %}
    {% trans %}Palmyra{% endtrans %}
    {% trans %}Panama{% endtrans %}
    {% trans %}Papua New Guinea{% endtrans %}
    {% trans %}Paraguay{% endtrans %}
    {% trans %}Peru{% endtrans %}
    {% trans %}Philippines{% endtrans %}
    {% trans %}Phoenix Islands{% endtrans %}
    {% trans %}Pitcairn Island{% endtrans %}
    {% trans %}Poland{% endtrans %}
    {% trans %}Portugal{% endtrans %}
    {% trans %}Puerto Rico{% endtrans %}
    {% trans %}Qatar{% endtrans %}
    {% trans %}Reunion{% endtrans %}
    {% trans %}Romania{% endtrans %}
    {% trans %}Russia (Eastern){% endtrans %}
    {% trans %}Russia (European){% endtrans %}
    {% trans %}Rwanda{% endtrans %}
    {% trans %}Ryukyu Islands (JPN){% endtrans %}
    {% trans %}Saints Peter and Paul Rocks (BRA){% endtrans %}
    {% trans %}Samoa, American{% endtrans %}
    {% trans %}Samoa, Western{% endtrans %}
    {% trans %}San Andres & Providencia{% endtrans %}
    {% trans %}San Marino{% endtrans %}
    {% trans %}Sao Tome E Principe{% endtrans %}
    {% trans %}Sardinia{% endtrans %}
    {% trans %}Saudi Arabia{% endtrans %}
    {% trans %}Scotland{% endtrans %}
    {% trans %}Senegal{% endtrans %}
    {% trans %}Serbia (Yugoslavia){% endtrans %}
    {% trans %}Seychelles{% endtrans %}
    {% trans %}Shetland Islands{% endtrans %}
    {% trans %}Sicily{% endtrans %}
    {% trans %}Sierra Leone{% endtrans %}
    {% trans %}Singapore{% endtrans %}
    {% trans %}Slovakia{% endtrans %}
    {% trans %}Slovenia{% endtrans %}
    {% trans %}Society Islands (Tahiti){% endtrans %}
    {% trans %}Solomon Islands{% endtrans %}
    {% trans %}Somalia{% endtrans %}
    {% trans %}South Africa{% endtrans %}
    {% trans %}South Georgia (UK){% endtrans %}
    {% trans %}South Orkney Is. (UK){% endtrans %}
    {% trans %}South Sandwich Is. (UK){% endtrans %}
    {% trans %}South Shetland Is. (UK){% endtrans %}
    {% trans %}Spain{% endtrans %}
    {% trans %}Spratley Islands{% endtrans %}
    {% trans %}Sri Lanka{% endtrans %}
    {% trans %}St Barthelemy{% endtrans %}
    {% trans %}St Helena{% endtrans %}
    {% trans %}St Kitts-Nevis{% endtrans %}
    {% trans %}St Lucia{% endtrans %}
    {% trans %}St Pierre Et Miquelon{% endtrans %}
    {% trans %}St Vincent{% endtrans %}
    {% trans %}Sudan{% endtrans %}
    {% trans %}Suriname{% endtrans %}
    {% trans %}Svalbard{% endtrans %}
    {% trans %}Swan Island (Islas Del Cisne){% endtrans %}
    {% trans %}Swaziland{% endtrans %}
    {% trans %}Sweden{% endtrans %}
    {% trans %}Switzerland{% endtrans %}
    {% trans %}Syria{% endtrans %}
    {% trans %}Taiwan{% endtrans %}
    {% trans %}Tajikistan{% endtrans %}
    {% trans %}Tanzania{% endtrans %}
    {% trans %}Thailand{% endtrans %}
    {% trans %}Timor{% endtrans %}
    {% trans %}Togo{% endtrans %}
    {% trans %}Tokelau{% endtrans %}
    {% trans %}Tonga{% endtrans %}
    {% trans %}Trinadade Martin Vas Is. (BRA){% endtrans %}
    {% trans %}Trinidad & Tobago{% endtrans %}
    {% trans %}Tristan Da Cunha{% endtrans %}
    {% trans %}Tromelin Island{% endtrans %}
    {% trans %}Tuamotu Archipelago{% endtrans %}
    {% trans %}Tunisia{% endtrans %}
    {% trans %}Turkey{% endtrans %}
    {% trans %}Turkmenistan{% endtrans %}
    {% trans %}Turks & Caicos Islands{% endtrans %}
    {% trans %}Tuvalu{% endtrans %}
    {% trans %}Uganda{% endtrans %}
    {% trans %}Ukraine{% endtrans %}
    {% trans %}UNID (Africa?){% endtrans %}
    {% trans %}UNID (Asia?){% endtrans %}
    {% trans %}UNID (C.America / Carribean?){% endtrans %}
    {% trans %}UNID (Europe?){% endtrans %}
    {% trans %}UNID (N.America?){% endtrans %}
    {% trans %}UNID (No idea where){% endtrans %}
    {% trans %}UNID (Oceania?){% endtrans %}
    {% trans %}UNID (S.America?){% endtrans %}
    {% trans %}United Arab Emirates{% endtrans %}
    {% trans %}Uruguay{% endtrans %}
    {% trans %}USA{% endtrans %}
    {% trans %}Uzbekistan{% endtrans %}
    {% trans %}Vanuatu{% endtrans %}
    {% trans %}Vatican State{% endtrans %}
    {% trans %}Venezuela{% endtrans %}
    {% trans %}Vietnam{% endtrans %}
    {% trans %}Virgin Islands (British){% endtrans %}
    {% trans %}Virgin Islands (US){% endtrans %}
    {% trans %}Volcano Islands / Iwo Jima (JPN){% endtrans %}
    {% trans %}Wake Island{% endtrans %}
    {% trans %}Wales{% endtrans %}
    {% trans %}Wallis Et Futuna{% endtrans %}
    {% trans %}West Bank and Gaza Strip{% endtrans %}
    {% trans %}Western Sahara{% endtrans %}
    {% trans %}Yemen{% endtrans %}
    {% trans %}Zambia{% endtrans %}
    {% trans %}Zimbabwe{% endtrans %}
{% endif %}

{%  if 'States' %}
    {% trans %}Alberta{% endtrans %}
    {% trans %}Alaska (Co=ALS){% endtrans %}
    {% trans %}Alabama{% endtrans %}
    {% trans %}Arkansas{% endtrans %}
    {% trans %}Australian Capital Territory{% endtrans %}
    {% trans %}Arizona{% endtrans %}
    {% trans %}British Columbia{% endtrans %}
    {% trans %}California{% endtrans %}
    {% trans %}Colorado{% endtrans %}
    {% trans %}Connecticut{% endtrans %}
    {% trans %}Washington D.C.{% endtrans %}
    {% trans %}Delaware{% endtrans %}
    {% trans %}Florida{% endtrans %}
    {% trans %}Hawaii (Co=HWA){% endtrans %}
    {% trans %}Iowa{% endtrans %}
    {% trans %}Idaho{% endtrans %}
    {% trans %}Illinois{% endtrans %}
    {% trans %}Indiana{% endtrans %}
    {% trans %}Kansas{% endtrans %}
    {% trans %}Kentucky{% endtrans %}
    {% trans %}Louisiana{% endtrans %}
    {% trans %}Massachusetts{% endtrans %}
    {% trans %}Manitoba{% endtrans %}
    {% trans %}Maryland{% endtrans %}
    {% trans %}Maine{% endtrans %}
    {% trans %}Michigan{% endtrans %}
    {% trans %}Minnesota{% endtrans %}
    {% trans %}Missouri{% endtrans %}
    {% trans %}Mississippi{% endtrans %}
    {% trans %}Montana{% endtrans %}
    {% trans %}New Brunswick{% endtrans %}
    {% trans %}North Carolina{% endtrans %}
    {% trans %}North Dakota{% endtrans %}
    {% trans %}Nebraska{% endtrans %}
    {% trans %}New Hampshire{% endtrans %}
    {% trans %}New Jersey{% endtrans %}
    {% trans %}Newfd. & Lab.{% endtrans %}
    {% trans %}New Mexico{% endtrans %}
    {% trans %}Northern Territory{% endtrans %}
    {% trans %}Nova Scotia{% endtrans %}
    {% trans %}Northwest Territories{% endtrans %}
    {% trans %}Nunavut{% endtrans %}
    {% trans %}Nevada{% endtrans %}
    {% trans %}New South Wales{% endtrans %}
    {% trans %}New York{% endtrans %}
    {% trans %}Ohio{% endtrans %}
    {% trans %}Oklahoma{% endtrans %}
    {% trans %}Ontario{% endtrans %}
    {% trans %}Oregon{% endtrans %}
    {% trans %}Pennsylvania{% endtrans %}
    {% trans %}P.E.I.{% endtrans %}
    {% trans %}Puerto Rica (Co=PTR){% endtrans %}
    {% trans %}Quebec{% endtrans %}
    {% trans %}Queensland{% endtrans %}
    {% trans %}Rhode Island{% endtrans %}
    {% trans %}South Australia{% endtrans %}
    {% trans %}South Carolina{% endtrans %}
    {% trans %}South Dakota{% endtrans %}
    {% trans %}Saskatchewan{% endtrans %}
    {% trans %}Tasmania{% endtrans %}
    {% trans %}Tennessee{% endtrans %}
    {% trans %}Texas{% endtrans %}
    {% trans %}Utah{% endtrans %}
    {% trans %}Virginia{% endtrans %}
    {% trans %}Victoria{% endtrans %}
    {% trans %}Vermont{% endtrans %}
    {% trans %}Washington{% endtrans %}
    {% trans %}Western Australia{% endtrans %}
    {% trans %}Wisconsin{% endtrans %}
    {% trans %}West Virginia{% endtrans %}
    {% trans %}Wyoming{% endtrans %}
    {% trans %}Yukon Territories{% endtrans %}
{% endif %}

{% if 'Signals List' %}
    {# Form #}
        {% trans %}Signals List{% endtrans %}
        {% trans %}Customise %s Signals List{% endtrans %}
        {% trans %}Paging Controls{% endtrans %}
        {% trans %}of %s signals{% endtrans %}
        {% trans %}Customise{% endtrans %}
            {% trans %}Personalise for{% endtrans %}
                {% trans %}(None specified){% endtrans %}
            {% trans %}Offsets{% endtrans %}
                {% trans %}Relative{% endtrans %}
                {% trans %}Absolute{% endtrans %}
            {% trans %}From GSQ{% endtrans %}
            {% trans %}DX{% endtrans %}
            {% trans %}DX Max{% endtrans %}
            {% trans %}Units{% endtrans %}
                {% trans %}km{% endtrans %}
                {% trans %}miles{% endtrans %}
            {% trans %}Sort By{% endtrans %}
            {% trans %}Z-A{% endtrans %}
        {% trans %}Signal Details{% endtrans %}
            {% trans %}Signal Types{% endtrans %}
            {% trans %}Call / ID{% endtrans %}
            {% trans %}Frequency Range{% endtrans %}
            {% trans %}Freq.{% endtrans %}
            {% trans %}Freq. 2{% endtrans %}
            {% trans %}Channels{% endtrans %}
                {% trans %}All{% endtrans %}
                {% trans %}Only 1 KHz{% endtrans %}
                {% trans %}Not 1 KHz{% endtrans %}
            {% trans %}Active Status{% endtrans %}
                {% trans %}Active{% endtrans %}
                {% trans %}Inactive{% endtrans %}
            {% trans %}Paper Size{% endtrans %}
                {% trans %}A4 (Portrait) - 21.6cm x 27.9cm{% endtrans %}
                {% trans %}A4 (Landscape) - 27.9cm x 21.6cm{% endtrans %}
                {% trans %}Legal (Portrait) - 8.5" x 14"{% endtrans %}
                {% trans %}Legal (Landscape) - 14" x 8.5"{% endtrans %}
                {% trans %}Letter (Portrait) - 8.5" x 11"{% endtrans %}
                {% trans %}Letter (Landscape) - 11" x 8.5"{% endtrans %}
            {% trans %}Nominal Carrier{% endtrans %}
            {% trans %}Places signal has been reported{% endtrans %}
            {% trans %}Number of times logged{% endtrans %}
            {% trans %}Location{% endtrans %}
            {% trans %}Combiner{% endtrans %}
                {% trans %}AND{% endtrans %}
                {% trans %}OR{% endtrans %}
            {% trans %}(Used when both State AND Country are given){% endtrans %}
            {% trans %}Grid Squares{% endtrans %}
        {% trans %}Loggings{% endtrans %}
            {% trans %}Listener(s){% endtrans %}
                {% trans %}Anyone (or enter values in "Heard here" box){% endtrans %}
            {% trans %}Logged by{% endtrans %}
            {% trans %}Not logged by{% endtrans %}
            {% trans %}Use SHIFT or CONTROL to select multiple values{% endtrans %}
        {% trans %}Heard Here{% endtrans %}
            {% trans %}Any{% endtrans %}
        {% trans %}Logged Between{% endtrans %}
        {% trans %}First Logged{% endtrans %}
        {% trans %}Last Logged{% endtrans %}
        {% trans %}Admin Only{% endtrans %}
            {% trans %}Admin Mode{% endtrans %}
                {% trans %}0 - Default View seen by regular visitors{% endtrans %}
                {% trans %}1 - Listing view of unlogged signals for all systems{% endtrans %}
                {% trans %}2 - Listing view of logged and unlogged from all systems{% endtrans %}

    {# Stats Boxes #}
        {% trans %}Message ID{% endtrans %}
        {% trans %}RNA Only{% endtrans %}
        {% trans %}REU Only{% endtrans %}
        {% trans %}RNA + REU{% endtrans %}
        {% trans %}RWW{% endtrans %}
        {% trans %}Unlogged{% endtrans %}
    {# Possible heading for Listeners Panel #}
        {% trans %}%s Listeners{% endtrans %}
        {% trans %}%s Listeners<br />in Africa{% endtrans %}
        {% trans %}%s Listeners<br />in Antarctica{% endtrans %}
        {% trans %}%s Listeners<br />in Asia{% endtrans %}
        {% trans %}%s Listeners<br />in Carribean{% endtrans %}
        {% trans %}%s Listeners<br />in Europe{% endtrans %}
        {% trans %}%s Listeners<br />in International Waters{% endtrans %}
        {% trans %}%s Listeners<br />in North America{% endtrans %}
        {% trans %}%s Listeners<br />in Oceania (Pacific){% endtrans %}
        {% trans %}%s Listeners<br />in South America{% endtrans %}
    {% trans %}Locations{% endtrans %}
    {% trans %}Loggings{% endtrans %}
    {% trans %}First log{% endtrans %}
    {% trans %}Last log{% endtrans %}
    {% trans %}Listing{% endtrans %}
    {% trans %}Map{% endtrans %}
    {% trans %}Seeklist{% endtrans %}
    {% trans %}Set or Clear filtering on this value{% endtrans %}
    {% trans %}Set or Clear Signal filtering on this value{% endtrans %}
    {% trans %}Show map (accuracy limited to nearest Grid Square){% endtrans %}
    {% trans %}European Reception Map{% endtrans %}
    {% trans %}North American Reception Map{% endtrans %}

    {# Report Columns and tooltips #}
        {% trans %}Logged{% endtrans %}
        {% trans %}Frequency{% endtrans %}
        {% trans %}KHz{% endtrans %}
        {% trans %}Callsign or other ID{% endtrans %}
        {% trans %}ID{% endtrans %}
        {% trans %}Lower sideband offset{% endtrans %}
        {% trans %}LSB{% endtrans %}
        {% trans %}Upper sideband offset{% endtrans %}
        {% trans %}USB{% endtrans %}
        {% trans %}Cycle time in seconds{% endtrans %}
        {% trans %}Sec{% endtrans %}
        {% trans %}Format{% endtrans %}
        {% trans %}Fmt{% endtrans %}
        {% trans %}Location{% endtrans %}
        {% trans %}'Name' and Location{% endtrans %}
        {% trans %}State / Province / Territory{% endtrans %}
        {% trans %}S/P{% endtrans %}
        {% trans %}State / Province{% endtrans %}
        {% trans %}ITU{% endtrans %}
        {% trans %}ITU Country Code{% endtrans %}
        {% trans %}<div>Region</div>{% endtrans %}
        {% trans %}Continent or Zone{% endtrans %}
        {% trans %}Signal Grid Square{% endtrans %}
        {% trans %}GSQ{% endtrans %}
        {% trans %}Maidenhead Locator Grid Square{% endtrans %}
        {% trans %}Power in Watts{% endtrans %}
        {% trans %}Pwr{% endtrans %}
        {% trans %}Notes about this signal{% endtrans %}
        {% trans %}Notes{% endtrans %}
        {% trans %}Heard In<br /><b>(Daytime Log)</b>{% endtrans %}
        {% trans %}Logs{% endtrans %}
        {% trans %}Total number of logs for this signal{% endtrans %}
        {% trans %}KM{% endtrans %}
        {% trans %}Kilometers from GSQ{% endtrans %}
        {% trans %}Miles{% endtrans %}
        {% trans %}Miles from GSQ{% endtrans %}
        {% trans %}Bearing relative to GSQ{% endtrans %}
        {% trans %}Deg{% endtrans %}
        {% trans %}Admin Actions{% endtrans %}
        {% trans %}Delete{% endtrans %}
        {% trans %}Signal %s has %d logs and so cannot be deleted at this time.{% endtrans %}
        {% trans %}Signal %s has been deleted.{% endtrans %}
        {% trans %}Merge{% endtrans %}
        {% trans %}Delete this Signal?  Are you sure?{% endtrans %}
        {% trans %}Inactive stations are shown at the bottom of the list.{% endtrans %}
        {% trans %}Any exact matches for <strong>%s</strong> will shown at the top of this list, regardless of the station's current operational status.{% endtrans %}
        {% trans %}Signals Map{% endtrans %}
        {% trans %}%s Seeklist{% endtrans %}
        {% trans %}Page %s of %s{% endtrans %}
        {% trans %}Signals including <i>Inactive</i> stations{% endtrans %}
        {% trans %}For %s{% endtrans %}
        {% trans %}Updated %s{% endtrans %}
        {% trans %}(received %s of %s){% endtrans %}
        {% trans %}(total: %s){% endtrans %}
{% endif %}
{% if 'Signal Map' %}
    {% trans %}European Reception Map for %s{% endtrans %}
    {% trans %}North American Reception Map for %s{% endtrans %}
    {% trans %}Transmitter{% endtrans %}
    {% trans %}Reported{% endtrans %}
    {% trans %}Not Reported{% endtrans %}
    {% trans %}Listener Locations{% endtrans %}
    {% trans %}Listener{% endtrans %}
    {% trans %}Listener Primary QTH{% endtrans %}
    {% trans %}Listener Other QTH{% endtrans %}
{% endif %}
{% if 'Listeners List' %}
    {# Form #}
        {% trans %}Listeners List{% endtrans %}
        {% trans %}Log and station counts are updated each time new log data is added - figures are for logs in the system at this time.{% endtrans %}
        {% trans %}To see stats for different types of signals, check the boxes shown for 'Types' below.{% endtrans %}
        {% trans %}This report prints best in Portrait.{% endtrans %}
        {% trans %}Customise %s Listeners List{% endtrans %}
        {% trans %}Show{% endtrans %}
        {% trans %}of %s listeners{% endtrans %}
        {% trans %}Search For{% endtrans %}
        {% trans %}Show Counts{% endtrans %}
        {% trans %}Region{% endtrans %}
        {% trans %}Country{% endtrans %}
        {% trans %}Form Actions{% endtrans %}
        {% trans %}Go{% endtrans %}
        {% trans %}Clear{% endtrans %}
    {# Report Columns and tooltips #}
        {% trans %}Primary Location{% endtrans %}
        {% trans %}Secondary Location{% endtrans %}
        {% trans %}Name{% endtrans %}
        {% trans %}Log{% endtrans %}
        {% trans %}Add...{% endtrans %}
        {% trans %}Email{% endtrans %}
        {% trans %}Ham Radio Callsign{% endtrans %}
        {% trans %}Callsign{% endtrans %}
        {% trans %}QTH{% endtrans %}
        {% trans %}Listener Grid Square{% endtrans %}
        {% trans %}Timezone (relative to UTC){% endtrans %}
        {% trans %}<div>Timezone</div>{% endtrans %}
        {% trans %}Total number of logs for all signals{% endtrans %}
        {% trans %}<div>Total Logs</div>{% endtrans %}
        {% trans %}Latest Log{% endtrans %}
        {% trans %}Number of NDBs received{% endtrans %}
        {% trans %}<div>NDB</div>{% endtrans %}
        {% trans %}Total number of signals of all types{% endtrans %}
        {% trans %}<div>All Signals</div>{% endtrans %}
        {% trans %}WWW{% endtrans %}
        {% trans %}NDB Weblog for Listener{% endtrans %}
        {% trans %}NWL{% endtrans %}
        {% trans %}Map showing Signals for Listener{% endtrans %}
        {% trans %}Map{% endtrans %}
        {% trans %}<div>Map Pos</div>{% endtrans %}
        {% trans %}Admin{% endtrans %}
        {% trans %}Delete this Listener?  Are you sure?{% endtrans %}
        {% trans %}Listener %s has %d logs and so cannot be deleted at this time.{% endtrans %}
        {% trans %}Listener %s has been deleted.{% endtrans %}
    {# Info Panel #}
        {% trans %}Maps of Listener Locations{% endtrans %}
        {% trans %}(North America){% endtrans %}
        {% trans %}(Europe){% endtrans %}
{% endif %}
{% if 'Actions' %}
    {% trans %}Print...{% endtrans %}
    {% trans %}All %s > %s{% endtrans %}
        {% trans %}Export entire :system listing to :format?{% endtrans %}
            {% trans %}Excel{% endtrans %}
            {% trans %}ILGRadio Database Format{% endtrans %}
            {% trans %}PDF Document{% endtrans %}
        {% trans %}This can be a time consuming process - typically a minute or more.{% endtrans %}
        {% trans %}All options you selected in 'Customise Report' above will be ignored.{% endtrans %}
        {% trans %}Signal types, 'offsets' setting and 'active' status will be taken from the options you selected in 'Customise Report' above, other options will be ignored.{% endtrans %}
        {% trans %}Continue?{% endtrans %}
{% endif %}
{% if 'Signal Types' %}
    {% trans %}DGPS{% endtrans %}
        {% trans %}DGPS Station{% endtrans %}
            {% trans %}Additional DGPS Station Info{% endtrans %}
                {% trans %}USCG DGPS Site List{% endtrans %}
    {% trans %}DSC{% endtrans %}
        {% trans %}DSC Station{% endtrans %}
    {% trans %}Ham{% endtrans %}
        {% trans %}Amateur Radio Beacon{% endtrans %}
            {% trans %}Additional Ham Beacon Info:{% endtrans %}
                {% trans %}LOWFERS{% endtrans %}
                {% trans %}HF{% endtrans %}
                {% trans %}50MHz{% endtrans %}
    {% trans %}Navtex{% endtrans %}
        {% trans %}NavTex Station{% endtrans %}
            {% trans %}Additional Navtex Station Info:{% endtrans %}
                {% trans %}William Hepburn's LF List{% endtrans %}
                {% trans %}William Hepburn's HF List{% endtrans %}
    {% trans %}NDB{% endtrans %}
        {% trans %}NDB Beacon{% endtrans %}
            {% trans %}Additional NDB Info:{% endtrans %}
                {% trans %}William Hepburn's LF List{% endtrans %}
    {% trans %}Time{% endtrans %}
        {% trans %}Time Signal Station{% endtrans %}
    {% trans %}Other{% endtrans %}
        {% trans %}Other form of transmission{% endtrans %}
    {% trans %}(All){% endtrans %}
{% endif %}
{% if 'Maps' %}
    {% trans %}Top{% endtrans %}
    {% trans %}Popup{% endtrans %}
    {% trans %}States{% endtrans %}
    {% trans %}Countries{% endtrans %}
    {% trans %}Territories{% endtrans %}
    {% trans %}Maps for North American Listeners{% endtrans %}
    {% trans %}Maps for European Listeners{% endtrans %}
    {% trans %}Maps for All Listeners{% endtrans %}
    {% trans %}North American NDB List Country Codes{% endtrans %}
    {% trans %}South American NDB List Country Codes{% endtrans %}
    {% trans %}European NDB List Country Codes{% endtrans %}
    {% trans %}Asian NDB List Country Codes{% endtrans %}
    {% trans %}African NDB List approved Country Codes{% endtrans %}
    {% trans %}Australian NDB List Country Codes{% endtrans %}
    {% trans %}Beacons in Alaska{% endtrans %}
    {% trans %}Pacific Beacons Map{% endtrans %}
    {% trans %}Japanese NDB List Country Codes{% endtrans %}
    {% trans %}French Polynesian Beacons Map{% endtrans %}
{% endif %}
{% if 'Listener View' %}
    {% trans %}Contact Details{% endtrans %}
    {% trans %}Receiving Station Details{% endtrans %}
    {% trans %}Email Address{% endtrans %}
    {% trans %}Website{% endtrans %}
    {% trans %}Town / City{% endtrans %}
    {% trans %}State / Prov{% endtrans %}
    {% trans %}Grid Square{% endtrans %}
    {% trans %}Map X{% endtrans %}
    {% trans %}Map Y{% endtrans %}
    {% trans %}Yes{% endtrans %}
    {% trans %}No{% endtrans %}
    {% trans %}Timezone{% endtrans %}
    {% trans %}Equipment{% endtrans %}
    {% trans %}Close{% endtrans %}
    {% trans %}Save{% endtrans %}
{% endif %}
{% if 'Listener QNH' %}
    {% trans %}Message ID{% endtrans %}
    {% trans %}Icao{% endtrans %}
    {% trans %}Hours{% endtrans %}
    {% trans %}QNH{% endtrans %}
    {% trans %}Metar - Raw{% endtrans %}
    {% trans %}Metar - Decoded{% endtrans %}
{% endif %}

{% if 'Listener Stats' %}
    {% trans %}Signal Statistics{% endtrans %}
    {% trans %}Total Signals{% endtrans %}
    {% trans %}Log Statistics{% endtrans %}
    {% trans %}Total Logs{% endtrans %}
{% endif %}

{% if 'Signal Tabs' %}
    {% trans %}Profile{% endtrans %}
    {% trans %}Listeners (%d){% endtrans %}
    {% trans %}Logs (%d){% endtrans %}
    {% trans %}Reception Map (NA){% endtrans %}
    {% trans %}Reception Map (EU){% endtrans %}
    {% trans %}Weather{% endtrans %}
{% endif %}

{%  if 'Signal View' %}
    {% trans %}Add Signal{% endtrans %}
    {% trans %}Details for %s (Active){% endtrans %}
    {% trans %}Details for %s (Inctive){% endtrans %}
    {% trans %}Type{% endtrans %}
    {% trans %}W{% endtrans %}
    {% trans %}'Name' and QTH{% endtrans %}
    {% trans %}Lat{% endtrans %}
    {% trans %}Lon{% endtrans %}
    {% trans %}Cycle{% endtrans %}
    {% trans %}INFORMATION{% endtrans %}
    {% trans %}Where two values are given for Cycle (e.g. 8.0/28.0), the first value is for the Ident portion and the second is for the whole cycle.{% endtrans %}
    {% trans %}(Sec){% endtrans %}
    {% trans %}Status{% endtrans %}
    {% trans %}Heard Here{% endtrans %}
    {% trans %}(Daytime Log){% endtrans %}
{% endif %}
{%  if 'Signal Logs' %}
    {% trans %}of %s Log Records{% endtrans %}
    {% trans %}Logs for %s{% endtrans %}
    {% trans %}Date{% endtrans %}
    {% trans %}UTC{% endtrans %}
    {% trans %}Lower Sideband{% endtrans %}
    {% trans %}Upper Sideband{% endtrans %}
    {% trans %}Sec.{% endtrans %}
    {% trans %}Cycle Time in seconds{% endtrans %}
    {% trans %}Fmt.{% endtrans %}
    {% trans %}Format of signal{% endtrans %}
    {% trans %}Distance in KM{% endtrans %}
    {% trans %}Distance in Miles{% endtrans %}
{% endif %}
{% if 'Signal Listeners' %}
    {% trans %}Listeners for %s{% endtrans %}
{% endif %}
{%  if 'Signal Weather' %}
    {% trans %}Weather for %s{% endtrans %}
    {% trans %}Weather Report Details{% endtrans %}
    {% trans %}Weather Report{% endtrans %}
{% endif %}
{% if 'CLE' %}
    {% trans %}CLE{% endtrans %}
    {% trans %}CLE %NUMBER%{% endtrans %}
    {% trans %}Links for Each Region{% endtrans %}
    {% trans %}RNA{% endtrans %}
    {% trans %}%MIN%KHz to %MAX%KHz{% endtrans %}
    {% trans %}REU{% endtrans %}
    {% trans %}RWW - Africa{% endtrans %}
    {% trans %}RWW - Asia{% endtrans %}
    {% trans %}RWW - Pacific{% endtrans %}
    {% trans %}RWW - S. America{% endtrans %}
{% endif %}
