{% if lastError %}
    <div id="lastError"><strong>{% trans %}Error:{% endtrans %}</strong> {{ lastError|raw|trans }}</div>
{% endif %}
{% if lastMessage %}
    <div id="lastMessage"><strong>{% trans %}Message:{% endtrans %}</strong> {{ lastMessage|raw|trans }}</div>
{% endif %}