{% if lastError %}
    <div id="lastError"><strong>Error:</strong> {{ lastError|raw }}</div>
{% endif %}
{% if lastMessage %}
    <div id="lastMessage"><strong>Message:</strong> {{ lastMessage|raw }}</div>
{% endif %}