{% if lastError %}
    <span id="lastError"><a class="close">X</a><strong>{% trans %}Error:{% endtrans %}</strong> {{ lastError|raw }}</span>
{% endif %}
{% if lastMessage %}
    <span id="lastMessage"><a class="close">X</a>{{ lastMessage|raw }}</span>
{% endif %}