{% extends 'main.html.twig' %}
{% block body %}
<div class="main">
    <h1>{% trans %}Change Log for this system{% endtrans %}</h1>
    <div class="changelog-tips">
        <p><b>{% trans %}This page gives headline information about changes to this system over time.{% endtrans %}</b></p>
        <p>
            {% trans %}Curious to see what's under the hood?  Click the version number to see the actual code changes.{% endtrans %}<br>
            {% trans %}If you spot a bug or have ideas for a new feature, please contact the developer (email address in footer){% endtrans %}<br>
            {% trans %}You may even become <span>FAMOUS</span> in the release notes{% endtrans %} &#128513;
        </p>
        <p><em>{% trans with({ 'COUNT' : count, 'FIRST' : first }) %}There have been <b>COUNT</b> versioned releases since <b>FIRST</b>{% endtrans %}</em></p>
    </div>
    <div>{{ changelog|raw }}</div>
</div>
{% endblock %}