.log_edit {
    #form {
        label {
            width: 25%;
        }
        input[type='text'],
        textarea,
        select {
            width: 70%;
            padding: 0.125em 0.25em;
            margin: 0 0 0.25em 0;
        }
        textarea {
            height: 6em;
        }
    }
}