{% if (signals|length > 0 or isAdmin) %}
<p class="report_actions">
{% if signals|length > 0 %}
    <input type="button" id="btn_prt" class="button small" value="{% trans %}Print...{% endtrans %}" />
    <input type="button" id="btn_csv_fil" class="button small" value="{{ 'Export Results as %s'|trans|format('.csv') }}" />
    <input type="button" id="btn_csv_all" class="button small" value="{{ 'Export All %s as %s'|trans|format(system|upper, '.csv') }}" />
{% endif %}
{% if isAdmin %}
    {% if isAdmin %}
        <input type="button" class="button small" value="{{ 'Add Signal...' | trans }}"
           onclick="window.open('{{ path('signal', { 'system' : system, 'id' : 'new'})}}', 'signal_new', popWinSpecs['signals_[id]'])"
        >
    {% endif %}
{% endif %}
</p>
{% endif %}