<p class="report_actions">
    <input type="button" class="button small" value="{% trans %}Print...{% endtrans %}" onclick="window.print()" />
    {% if isAdmin %}
        <input type="button" class="button small" value="{% trans %}Add Signal...{% endtrans %}" onclick="alert('soon')" />
    {% endif %}
    <input type="button" class="button small" value="{{ 'All %s > Excel' |trans|format(system|upper)}}" onclick="exportSignallistExcel()"/>
    <input type="button" class="button small" value="{{ 'All %s > PDF' |trans|format(system|upper)}}" />
    <input type="button" class="button small" value="{{ 'All %s > ILG' |trans|format(system|upper)}}" />
</p>
