<p class="report_actions">
    <input type="button" class="button small" value="{% trans %}Print...{% endtrans %}" onclick="window.print()">
    {% if isAdmin %}
        <input type="button" class="button small" value="{% trans %}Add Signal...{% endtrans %}" onclick="alert('soon')" />
    {% endif %}
</p>