{% extends 'main.html.twig' %}

{% block body %}
{% set form_title='Customise %s Signals List' | trans | format(system|upper) %}
{% set form_class='signal_list' %}
    <div class="main">
        <div class="text-center center-block">
            {% include 'status.html.twig' %}
            <h1>{{ mode }}</h1>
            {% include 'signals/tipsRefsStats.html.twig' %}
            {% include 'signals/form.html.twig' %}
        </div>

        <div class="clearfix">
            <div class="float-left margin-left-1">{% include 'signals/tabs.html.twig' %}</div>
            <div class="float-right margin-right-1">{% include 'signals/actions.html.twig' %}</div>
        </div>

        <div class="signals_container">
            {% if args['show'] in ['', 'list'] %}{% include 'signals/list.html.twig' %}{% endif %}
            {% if args['show'] == 'map' %}{% include 'signals/map.html.twig' %}{% endif %}
            {% if args['show'] == 'seeklist' %}{% include 'signals/seeklist.html.twig' %}{% endif %}
        </div>
     </div>
<script>
    initSignalsForm(msg.paging_s, {{ results.total }}, {{ ajax ? 1 : 0 }});
    var stats = {};
    $(document).ready( function() {
        url = base_url + 'signals/stats?rww_focus=' + $('#form_rww_focus').val();
        $.get(url, function(data) {
            stats = data;
            $.each(data.signals, function(key, value){
                $('#stats_' + key).text(value.numberFormat());
            })
            $('#stats_focus').text(data.listeners.focus);
            $('#stats_locations').text(data.listeners.locations.numberFormat());
            $('#stats_logs').text(data.listeners.logs.numberFormat());
            $('#stats_first').text(data.listeners.first);
            $('#stats_last').text(data.listeners.last);
            $('#seeklist_last').text(data.listeners.last);
        });
    })
</script>
{% endblock %}
