{% extends 'main.html.twig' %}

{% block body %}
{% set form_title='Customise %s Signals List' | trans | format(system|upper) %}
{% set form_class='signal_list' %}
    <div class="main">
        <div class="text-center center-block">
            <h1>{{ mode }}</h1>
            {% include 'signals/tips.html.twig' %}
            {% include 'signals/refs.html.twig' %}
            {% include 'status.html.twig' %}
            {% include 'signals/form.html.twig' %}
        </div>

        <div class="row">
            <div class="small-6 column">{% include 'signals/tabs.html.twig' %}</div>
            <div class="small-6 column">{% include 'signals/actions.html.twig' %}</div>
        </div>

        <div class="signals_container">
            {% if args['show'] in ['', 'list'] %}{% include 'signals/list.html.twig' %}{% endif %}
            {% if args['show'] == 'map' %}{% include 'signals/map.html.twig' %}{% endif %}
            {% if args['show'] == 'seeklist' %}{% include 'signals/seeklist.html.twig' %}{% endif %}
        </div>
     </div>
{% include 'js_trans.html.twig' %}
<script>
    initSignalsForm(msg.paging, {{ results.total }});
</script>
{% endblock %}
