{% extends 'main.html.twig' %}

{% block body %}
    <div class="main">
        <h1>{{ mode }}</h1>
        {% include 'signals/tips.html.twig' %}
        {% include 'signals/refs.html.twig' %}
        {% include 'status.html.twig' %}
        {% set form_title='Customise %s Signals List' | trans | format(system|upper) %}
        {% set form_class='signal_list' %}
        <div class="clearfix">
            <div class="c_1">
                {% include 'signals/form.html.twig' %}
            </div>
            <div class="c_2">
                {% include 'signals/stats.html.twig' %}
            </div>
        </div>

        {% include 'signals/tabs.html.twig' %}
        <div class="signals_container">
            {% if args['show'] in ['', 'list'] %}{% include 'signals/list.html.twig' %}{% endif %}
            {% if args['show'] == 'map' %}{% include 'signals/map.html.twig' %}{% endif %}
            {% if args['show'] == 'seeklist' %}{% include 'signals/seeklist.html.twig' %}{% endif %}
        </div>
        {% include 'signals/actions.html.twig' %}
     </div>
{% include 'js_trans.html.twig' %}
<script>
    initSignalsForm(msg.paging, {{ results.total }});
</script>
{% endblock %}
