{% extends 'main.html.twig' %}

{% block body %}
{% set form_title='Customise %s Signals List' | trans | format(system|upper) %}
{% set form_class='signal_list' %}
    <div class="main">
        <div class="text-center center-block">
            {% include 'status.html.twig' %}
            <h1>{{ mode }}
                <span class="section_toggle">
                    <span id="section_tips_show">{% trans %}Show tips{% endtrans %} [+]</span>
                    <span id="section_tips_hide">{% trans %}Hide tips{% endtrans %} [-]</span>
                </span>
            </h1>
            <div id="section_tips" style="display: none">
            {% include 'signals/tipsRefsStats.html.twig' %}
            </div>
            {% include 'signals/form.html.twig' %}
        </div>

        <div class="clearfix">
            <div class="float-left margin-left-1">{% include 'signals/tabs.html.twig' %}</div>
            <div class="float-right margin-right-1">{% include 'signals/actions.html.twig' %}</div>
        </div>

        <div class="signals_container">
            {% if args['show'] in ['', 'list'] %}{% include 'signals/list.html.twig' %}{% endif %}
            {% if args['show'] == 'map' %}{% include 'signals/map.html.twig' %}{% endif %}
            {% if args['show'] == 'seeklist' %}{% include 'signals/seeklist.html.twig' %}{% endif %}

        </div>
     </div>
<script>
    COMMON_FORM.setTipsHideShowActions()
</script>
{% endblock %}
