{% extends 'base.html.twig' %}

{% block title %}{{ system|upper }} &gt; Signals List{% endblock %}

{% block body %}
{% include 'menu/menu.html.twig' %}
<h1>{{ signal.khz }}-{{  signal.call }}</h1>
{% endblock %}
