{% extends 'main.html.twig' %}

{% block body %}
    <div class="main">
        <h1>{{ mode | trans }}</h1>
        {% include 'status.html.twig' %}
        {% set form_title='Customise %s Signals List' | trans | format(system|upper) %}
        {% set form_class='signal_list' %}
        <div class="row">
            <div class="small-12 medium-8 columns">
                {% include 'forms/signals/form.html.twig' %}
            </div>
        </div>

        {% include 'signals/grid.html.twig' %}

        <script>
            $(document).ready( function() {
                setPagingActions();
                setFormTypesStyles();
                setFormTypesDefault();
                setFormTypesAllAction();
                setFormCountryAction();
                setFormRegionAction();
                setColumnSortActions();
                setColumnSortedClass();
                setExternalLinks();
                $('#form_paging_status').html('{{ 'of %s signals' | trans | format(results.total) }}');
            });
        </script>
    </div>
{% endblock %}
