<div class="refs hide-for-print margin-bottom-2">
<p>
    {% for type in typeRepository.SignalTypesSearched(args.type) %}
        {% set refs = typeRepository.TypeForCode(type).refs %}
        {% if refs %}
            <strong>{{ refs.title | trans }}</strong>
                [
                {% for link in refs.links %}
                    <a href="{{ link.url }}">{{ link.label | trans }}</a>{% if not loop.last %} | {% endif %}
                {% endfor %}
                ]<br />

        {% endif %}
    {% endfor %}
</p>
</div>
