{% for title, stats in statsBlocks %}
<section>
    <div class="controlPanel">
        <div class="header">{{ title|trans|format(system|upper)|raw }}</div>
        <div class="content clearfix">
            <table class="stats">
                {% for row in stats %}
                <tr>
                    {% for key, value in row %}
                    <th>{{ key|trans }}</th>
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>
{% endfor %}