<div id="tabsPanel" class="hide-for-print">
    {% for tab in tabs %}
        <a class="button{% if args['show'] == tab[0] %} is-active{% endif %}" id="show_{{ tab[0] }}" onclick="changeShowMode('{{ tab[0] }}')">{{ tab[1] }}</a>
    {% endfor %}
</div>
