<div class="hide-for-print">
<p>{% trans %}Click on any station ID for details, GSQ for location map, Heard In list for reception map and Logs value to see all logs for the station.{% endtrans %}<br/>
{% trans %}To list different types of signals, check the boxes shown for 'Types' below. Inactive stations are normally shown at the end of the report.{% endtrans %}<br/>
{% if (args.call != '') %}
{{ "Any exact matches for <strong>%s</strong> will shown at the top of this list, regardless of the station's current operational status." | trans | format(args.call) | raw }}
{% endif %}
</p>

<p><strong>{% trans %}Signal Stats:{% endtrans %}</strong> [
    {% trans with {
        '%RNA%' : stats['signals']['RNA Only'],
        '%REU%' : stats['signals']['REU Only'],
        '%RNAREU%' : stats['signals']['RNA + REU'],
        '%RWW%' : stats['signals']['RWW'],
        '%UNLOGGED%' : stats['signals']['Unlogged'],
        '[A1]' : '<a href="' ~ url('signals_count_rna', { 'system' : system }) ~ '" rel="external">',
        '[A2]' : '<a href="' ~ url('signals_count_reu', { 'system' : system }) ~ '" rel="external">',
        '[A3]' : '<a href="' ~ url('signals_count_rna_reu', { 'system' : system }) ~ '" rel="external">',
        '[A4]' : '<a href="' ~ url('signals_count_rww', { 'system' : system }) ~ '" rel="external">',
        '[A5]' : '<a href="' ~ url('signals_count_unlogged', { 'system' : system }) ~ '" rel="external">',
        '[/A]' : '</a>'
    } %}[A1]RNA only[/A]: %RNA% | [A2]REU only[/A]: %REU% | [A3]RNA + REU[/A]: %RNAREU% | [A4]RWW[/A]: %RWW% | [A5]Unlogged[/A]: %UNLOGGED%{% endtrans %} ]<br />
<strong>{% trans with {
        '%SYSTEM%' : system|upper,
        '%FOCUS%' : stats['listeners']['Focus'] ? ' (' ~ stats['listeners']['Focus'] ~ ')' : ''
    } %}%SYSTEM% %FOCUS% Listener Stats:{% endtrans %}</strong> [
    {% trans with {
        '%LOCATIONS%' : stats['listeners']['Locations'],
        '%LOGS%' : stats['listeners']['Loggings'],
        '%FIRST%' : stats['listeners']['First log'],
        '%LAST%' : stats['listeners']['Last log'],
        '[A1]' : '<a href="' ~ url('listeners_count', { 'system' : system, 'region' : args.rww_focus }) ~ '" rel="external">',
        '[A2]' : '<a href="' ~ url('logs_count', { 'system' : system, 'region' : args.rww_focus }) ~ '" rel="external">',
        '[A3]' : '<a href="' ~ url('logs_first', { 'system' : system, 'region' : args.rww_focus }) ~ '" rel="external">',
        '[A4]' : '<a href="' ~ url('logs_last', { 'system' : system, 'region' : args.rww_focus }) ~ '" rel="external">',
        '[/A]' : '</a>'
        } %}[A1]Locations[/A]: %LOCATIONS% | [A2]Logs[/A]: %LOGS% | [A3]First Log[/A]: %FIRST% | [A4]Last Log[/A]: %LAST%{% endtrans %} ]
</p>
</div>