<div class="hide-for-print">
<p>{% trans %}Click on any station ID for details, GSQ for location map, Heard In list for reception map and Logs value to see all logs for the station.{% endtrans %}<br/>
{% trans %}To list different types of signals, check the boxes shown for 'Types' below. Inactive stations are normally shown at the end of the report.{% endtrans %}<br/>
{% if (args.call != '') %}
{{ "Any exact matches for <strong>%s</strong> will shown at the top of this list, regardless of the station's current operational status." | trans | format(args.call) | raw }}
{% endif %}
</p>

<p><strong>{% trans %}Signal Stats:{% endtrans %}</strong> [
    {% trans with {
        '%RNA%' : stats['signals']['RNA Only'],
        '%REU%' : stats['signals']['REU Only'],
        '%RNAREU%' : stats['signals']['RNA + REU'],
        '%RWW%' : stats['signals']['RWW'],
        '%UNLOGGED%' : stats['signals']['Unlogged'],
    } %}RNA only: %RNA% | REU only: %REU% | RNA + REU: %RNAREU% | RWW: %RWW% | Unlogged: %UNLOGGED%{% endtrans %} ]<br />
<strong>{% trans with {
        '%SYSTEM%' : system|upper,
        '%FOCUS%' : stats['listeners']['Focus'] ? ' (' ~ stats['listeners']['Focus'] ~ ')' : ''
    } %}%SYSTEM% %FOCUS% Listener Stats:{% endtrans %}</strong> [
    {% trans with {
        '%LOCATIONS%' : stats['listeners']['Locations'],
        '%LOGS%' : stats['listeners']['Loggings'],
        '%FIRST%' : stats['listeners']['First log'],
        '%LAST%' : stats['listeners']['Last log'],
        } %}Locations: %LOCATIONS% | Logs: %LOGS% | First Log: %FIRST% | Last Log: %LAST%{% endtrans %} ]
</p>
</div>