<div class="hide-for-print">
<p>{% trans %}Click on any station ID for details, GSQ for location map, Heard In list for reception map and Logs value to see all logs for the station.{% endtrans %}<br/>
{% trans %}To list different types of signals, check the boxes shown for 'Types' below. Inactive stations are normally shown at the end of the report.{% endtrans %}<br/>
{% if (args.call != '') %}
{{ "Any exact matches for <strong>%s</strong> will shown at the top of this list, regardless of the station's current operational status." | trans | format(args.call) | raw }}
{% endif %}
</p>

<p><strong>{% trans %}Signal Stats:{% endtrans %}</strong> [
    {% trans with {
        '%RNA%' : stats['signals']['rna'] | number_format(0, '', ','),
        '%REU%' : stats['signals']['reu'] | number_format(0, '', ','),
        '%RNAREU%' : stats['signals']['rna_reu'] | number_format(0, '', ','),
        '%RWW%' : stats['signals']['rww'] | number_format(0, '', ','),
        '%UNLOGGED%' : stats['signals']['unlogged'] | number_format(0, '', ','),
        '[A1]' : '<a href="' ~ url('stats_signals_count', { 'system' : system, 'sys' : 'rna' }) ~ '" rel="external">',
        '[A2]' : '<a href="' ~ url('stats_signals_count', { 'system' : system, 'sys' : 'reu' }) ~ '" rel="external">',
        '[A3]' : '<a href="' ~ url('stats_signals_count', { 'system' : system, 'sys' : 'rna_reu' }) ~ '" rel="external">',
        '[A4]' : '<a href="' ~ url('stats_signals_count', { 'system' : system, 'sys' : 'rww' }) ~ '" rel="external">',
        '[A5]' : '<a href="' ~ url('stats_signals_count', { 'system' : system, 'sys' : 'unlogged' }) ~ '" rel="external">',
        '[/A]' : '</a>'
    } %}[A1]RNA only[/A]: %RNA% | [A2]REU only[/A]: %REU% | [A3]RNA + REU[/A]: %RNAREU% | [A4]RWW[/A]: %RWW% | [A5]Unlogged[/A]: %UNLOGGED%{% endtrans %} ]<br />
<strong>{% trans with {
        '%SYSTEM%' : system|upper,
        '%FOCUS%' : stats['listeners']['focus'] ? ' (' ~ stats['listeners']['focus'] ~ ')' : ''
    } %}%SYSTEM% %FOCUS% Listener Stats:{% endtrans %}</strong> [
    {% trans with {
        '%LOCATIONS%' : stats['listeners']['locations'] | number_format(0, '', ','),
        '%LOGS%' : stats['listeners']['logs'] | number_format(0, '', ','),
        '%FIRST%' : stats['listeners']['first'],
        '%LAST%' : stats['listeners']['last'],
        '[A1]' : '<a href="' ~ url('stats_listeners_count', { 'system' : system, 'region' : args.rww_focus }) ~ '" rel="external">',
        '[A2]' : '<a href="' ~ url('stats_logs_count', { 'system' : system, 'region' : args.rww_focus }) ~ '" rel="external">',
        '[A3]' : '<a href="' ~ url('stats_logs_first', { 'system' : system, 'region' : args.rww_focus }) ~ '" rel="external">',
        '[A4]' : '<a href="' ~ url('stats_logs_last', { 'system' : system, 'region' : args.rww_focus }) ~ '" rel="external">',
        '[/A]' : '</a>'
        } %}[A1]Locations[/A]: %LOCATIONS% | [A2]Logs[/A]: %LOGS% | [A3]First Log[/A]: %FIRST% | [A4]Last Log[/A]: %LAST%{% endtrans %} ]
</p>
</div>