<div class="hide-for-print">
<p>{% trans %}Click on any station ID for details, GSQ for location map, Heard In list for reception map and Logs value to see all logs for the station.{% endtrans %}<br/>
{% trans %}To list different types of signals, check the boxes shown for 'Types' below. Inactive stations are normally shown at the end of the report.{% endtrans %}<br/>
    <span id="exact" style="display: none">{% trans %}Any exact matches for <strong>%s</strong> will shown at the top of this list, regardless of the station's current operational status.{% endtrans %}</span>
</p>
</div>
<div class="refs hide-for-print">
    {% for key, type in types %}
        {% set refs = typeRepository.TypeForCode(key).refs %}
        {% if refs %}
            <span id="ref_type_{{ key }}" style="display: none"><strong>{{ refs.title | trans }}</strong> [{% for link in refs.links %}
    <a href="{{ link.url }}">{{ link.label | trans }}</a>{% if not loop.last %} | {% endif %}
                {% endfor %}]<br></span>
        {% endif %}{% endfor %}
</div>
<div>
<p><strong>{% trans %}Signal Stats:{% endtrans %}</strong> [
    {% trans with {
        '[A1]' : '<a href="' ~ url('stats_signals_count', { 'system' : system, 'sys' : 'rna' }) ~ '" rel="external">',
        '[A2]' : '<a href="' ~ url('stats_signals_count', { 'system' : system, 'sys' : 'reu' }) ~ '" rel="external">',
        '[A3]' : '<a href="' ~ url('stats_signals_count', { 'system' : system, 'sys' : 'rna_reu' }) ~ '" rel="external">',
        '[A4]' : '<a href="' ~ url('stats_signals_count', { 'system' : system, 'sys' : 'rww' }) ~ '" rel="external">',
        '[A5]' : '<a href="' ~ url('stats_signals_count', { 'system' : system, 'sys' : 'unlogged' }) ~ '" rel="external">',
        '[/A]' : '</a>',
        '[S1]' : '<span id="stats_rna">...</span>',
        '[S2]' : '<span id="stats_reu">...</span>',
        '[S3]' : '<span id="stats_rna_reu">...</span>',
        '[S4]' : '<span id="stats_rww">...</span>',
        '[S5]' : '<span id="stats_unlogged">...</span>'
        }
    %}[A1]RNA only[/A]: [S1] | [A2]REU only[/A]: [S2] | [A3]RNA + REU[/A]: [S3] | [A4]RWW[/A]: [S4] | [A5]Unlogged[/A]: [S5]{% endtrans %} ]<br />
<strong>{% trans with {
        '[F]'  : '<span id="stats_focus"></span>',
        '%SYSTEM%' : system|upper
    } %}%SYSTEM% [F] Listener Stats:{% endtrans %}</strong> [
    {% trans with {
        '[A1]' : '<a href="' ~ url('stats_listeners_count', { 'system' : system, 'region' : args.rww_focus }) ~ '" rel="external">',
        '[A2]' : '<a href="' ~ url('stats_logs_count', { 'system' : system, 'region' : args.rww_focus }) ~ '" rel="external">',
        '[A3]' : '<a href="' ~ url('stats_logs_first', { 'system' : system, 'region' : args.rww_focus }) ~ '" rel="external">',
        '[A4]' : '<a href="' ~ url('stats_logs_last', { 'system' : system, 'region' : args.rww_focus }) ~ '" rel="external">',
        '[/A]' : '</a>',
        '[S1]' : '<span id="stats_locations">...</span>',
        '[S2]' : '<span id="stats_logs">...</span>',
        '[S3]' : '<span id="stats_first">...</span>',
        '[S4]' : '<span id="stats_last">...</span>',
        }
    %}[A1]Locations[/A]: [S1] | [A2]Logs[/A]: [S2] | [A3]First Log[/A]: [S3] | [A4]Last Log[/A]: [S4]{% endtrans %} ]
</p>
</div>