<nav>
    <a href="#main" class="sr-only">Skip to Main Content</a>
    <div class="menu-centered show-for-medium" role="navigation">
{% include "menu/medium.html.twig" %}
    </div>
    <div class="menu-centered show-for-small-only" role="navigation">
        {% include "menu/small.html.twig" %}
    </div>
</nav>