<select name="country" id="country">
    <option value="">(All Countries)</option>
{% for country in countries %}
    <option value="{{ country.itu }}">{{ country.name }}</option>
{% endfor %}
</select>