.listener_list {
    width: @width[listenersForm];
    input[type='text'],
    select {
        width: @width[listenersForm] - @width[label] - 15;
    }
    // Timezone selector is JQuery UI so we can style options properly
    #form_timezone-button {
        width: @width[listenersForm] - @width[label] - 15;
    }
    #form_multiop label {
        margin: 0 2em 0 0.25em;
    }
}
.addLogFor {
    a {
        font-weight: normal;
        &.pri {
            font-weight: bold;
        }
    }
    input {
        display: inline;
        margin: 4px 2px 4px 0;
        text-align: center;
        border-radius: 0;
        height: 28px;
        padding: 0.25em;
        width: 4em;
    }
    #btn_rxxid_go {
        display: inline;
        margin: 0 0.125em;
        padding: 6px;
    }
}