<ul>
    <li><a href="http://www.gcr1.com/5010WEB/" target="_blank">5010 Web</a> -
        {% trans %}FAA sourced data primarily for Pilots{% endtrans %}
    </li>
    <li><a href="http://www.airnav.com/navaids/" target="_blank">Airnav.com</a> -
        {% trans %}another aviation database primarily intended for pilots{% endtrans %}
    </li>
</ul>