.changelog{
    margin: 0 0 0.5em 5em;
    li {
        margin: 0 0 0.5em 0;
        span {
            padding: 0 0.25em;
            border: 1px solid #dd0;
            background-color: #ffc;
            &.new {
                color: #408040;
                border-color: #408040;
                background-color: #a0ffa0;
                font-weight: bold;
                position: relative;
                top: -1em;
                font-size: 50%;
            }
        }
    }
}
.changelog-tips{
    padding: 0.5em;
    margin: 0.5em 0 1em 0;
    border: 1px solid #ccc;
    display: inline-block;
    background-color: #e0ffe0;
    span {
        padding: 0 0.25em;
        border: 1px solid #dd0;
        background-color: #ffc;
        font-style: italic;
        font-weight: bold;
    }
}