@media screen and (max-width: 719px) {
    .tabtext {
        display: none;
    }
}
@media screen and (max-width: 639px) {
    #narrow {
    }
    #wide {
        display: none;
    }
}
@media screen and (max-width: 960px) and (min-width: 640px) {
    table tbody td.rowspan2, table tbody th.rowspan2 {
        border-bottom: 1px solid transparent !important;
    }
    #narrow {
        display: none;
    }
    .l2 {
        display: none;
    }
    #wide {
        width: 100%;
    }
}
@media screen and (min-width: 961px) {
    #narrow {
        display: none;
    }
    .l2_alt {
        display: none;
    }
    #wide {
        width: 100%;
    }
}

table.responsive {
    padding: 0;
    margin: 0.5em 0 1em 0;
    border-radius: 5px;
    tbody {
        border: 1px solid #888;
        tr {
            th {
                vertical-align: top;
                padding: 0 0.25em;
                line-height: 1.5em;
                width: 12em;
                text-align: right;
                border-right: 1px solid #888;
                b {
                    background: #ffffa0;
                    color: #0000ff;
                    border: 1px solid #b0b000;
                    border-radius: 2px;
                }
            }
            td {
                vertical-align: top;
                padding: 0 0 0 0.25em;
                line-height: 1.5em;
                b {
                    background: #ffffa0;
                    color: #0000ff;
                    border: 1px solid #b0b000;
                    border-radius: 2px;
                }
            }
        }
    }
}