@media (min-width: 40em) {
    .halfwidth {
        width: 48%;
        float: left;
        margin-right: 2%;
    }
    .fullwidth {
        width: 100%;
        float: none;
        clear: both;
    }
}