{% extends 'main.html.twig' %}
{% block body %}
<div class="main fullwidth">
{% set form_class='listener_logs' %}
    <div class="content scroll" id="list">
        {% include 'status.html.twig' %}
{{ form_start(form) }}
        {% include 'forms/paging.html.twig' %}
{{ form_end(form) }}
{% include 'log_sessions/grid.html.twig' %}
    </div>
    <h2>{% trans %}Logs Uploaded in Selected Session{% endtrans %}</h2>
    <div class="scroll" style="background: #fff" id="list2"></div>
</div>
<script>
    logSessions.init(
        "{{ url('listener_logsession', { 'system' : system, 'id': 'XXX', 'logSessionId': 'YYY' }) }}",
        "{{ matched }}",
        115
    );
</script>
{% endblock %}